openapi: 3.0.0
info:
  contact:
    name: Plaid Developer Team
    url: https://plaid.com
  description: The Plaid REST API. Please see https://plaid.com/docs/api for more
    details.
  termsOfService: https://plaid.com/legal/
  title: The Plaid API
  version: 2020-09-14_1.19.10
servers:
- description: Production
  url: https://production.plaid.com
- description: Development
  url: https://development.plaid.com
- description: Sandbox
  url: https://sandbox.plaid.com
security:
- clientId: []
  secret: []
  plaidVersion: []
tags:
- description: The Plaid API
  name: plaid
paths:
  /item/application/list:
    post:
      description: List a user’s connected applications
      operationId: itemApplicationList
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ItemApplicationListRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ItemApplicationListResponse'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error response.
      summary: List a user’s connected applications
      tags:
      - plaid
  /item/application/scopes/update:
    post:
      description: Enable consumers to update product access on selected accounts
        for an application.
      operationId: itemApplicationScopesUpdate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ItemApplicationScopesUpdateRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ItemApplicationScopesUpdateResponse'
          description: success
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error response.
      summary: Update the scopes of access for a particular application
      tags:
      - plaid
  /application/get:
    post:
      description: Allows financial institutions to retrieve information about Plaid
        clients for the purpose of building control-tower experiences
      operationId: applicationGet
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicationGetRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationGetResponse'
          description: success
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error response.
      summary: Retrieve information about a Plaid application
      tags:
      - plaid
  /item/get:
    post:
      description: Returns information about the status of an Item.
      externalDocs:
        url: /api/items/#itemget
      operationId: itemGet
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ItemGetRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    item:
                      available_products:
                      - balance
                      - auth
                      billed_products:
                      - identity
                      - transactions
                      error: null
                      institution_id: ins_109508
                      item_id: Ed6bjNrDLJfGvZWwnkQlfxwoNz54B5C97ejBr
                      update_type: background
                      webhook: https://plaid.com/example/hook
                      consent_expiration_time: null
                    status:
                      transactions:
                        last_successful_update: 2019-02-15T15:52:39
                        last_failed_update: 2019-01-22T04:32:00
                      last_webhook:
                        sent_at: 2019-02-15T15:53:00
                        code_sent: DEFAULT_UPDATE
                    request_id: m8MDnv9okwxFNBV
              schema:
                $ref: '#/components/schemas/ItemGetResponse'
          description: success
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error response.
      summary: Retrieve an Item
      tags:
      - plaid
  /auth/get:
    post:
      description: |-
        The `/auth/get` endpoint returns the bank account and bank identification numbers (such as routing numbers, for US accounts) associated with an Item's checking and savings accounts, along with high-level account data and balances when available.

        Note: This request may take some time to complete if `auth` was not specified as an initial product when creating the Item. This is because Plaid must communicate directly with the institution to retrieve the data.
      externalDocs:
        url: /api/products/#authget
      operationId: authGet
      requestBody:
        content:
          application/json:
            examples: {}
            schema:
              $ref: '#/components/schemas/AuthGetRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    accounts:
                    - account_id: vzeNDwK7KQIm4yEog683uElbp9GRLEFXGK98D
                      balances:
                        available: 100
                        current: 110
                        limit: null
                        iso_currency_code: USD
                        unofficial_currency_code: null
                      mask: "9606"
                      name: Plaid Checking
                      official_name: Plaid Gold Checking
                      subtype: checking
                      type: depository
                    numbers:
                      ach:
                      - account: "9900009606"
                        account_id: vzeNDwK7KQIm4yEog683uElbp9GRLEFXGK98D
                        routing: "011401533"
                        wire_routing: "021000021"
                      eft:
                      - account: "111122223333"
                        account_id: vzeNDwK7KQIm4yEog683uElbp9GRLEFXGK98D
                        institution: "021"
                        branch: "01140"
                      international:
                      - account_id: vzeNDwK7KQIm4yEog683uElbp9GRLEFXGK98D
                        bic: NWBKGB21
                        iban: GB29NWBK60161331926819
                      bacs:
                      - account: "31926819"
                        account_id: vzeNDwK7KQIm4yEog683uElbp9GRLEFXGK98D
                        sort_code: "601613"
                    item:
                      available_products:
                      - balance
                      - identity
                      - payment_initiation
                      - transactions
                      billed_products:
                      - assets
                      - auth
                      consent_expiration_time: null
                      error: null
                      institution_id: ins_117650
                      item_id: DWVAAPWq4RHGlEaNyGKRTAnPLaEmo8Cvq7na6
                      update_type: background
                      webhook: https://www.genericwebhookurl.com/webhook
                    request_id: m8MDnv9okwxFNBV
              schema:
                $ref: '#/components/schemas/AuthGetResponse'
          description: success
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Default error
      summary: Retrieve auth data
      tags:
      - plaid
  /transactions/get:
    post:
      description: |-
        The `/transactions/get` endpoint allows developers to receive user-authorized transaction data for credit, depository, and some loan-type accounts (only those with account subtype `student`; coverage may be limited). For transaction history from investments accounts, use the [Investments endpoint](https://plaid.com/docs/api/products#investments) instead. Transaction data is standardized across financial institutions, and in many cases transactions are linked to a clean name, entity type, location, and category. Similarly, account data is standardized and returned with a clean name, number, balance, and other meta information where available.

        Transactions are returned in reverse-chronological order, and the sequence of transaction ordering is stable and will not shift.  Transactions are not immutable and can also be removed altogether by the institution; a removed transaction will no longer appear in `/transactions/get`.  For more details, see [Pending and posted transactions](https://plaid.com/docs/transactions/transactions-data/#pending-and-posted-transactions).

        Due to the potentially large number of transactions associated with an Item, results are paginated. Manipulate the `count` and `offset` parameters in conjunction with the `total_transactions` response body field to fetch all available transactions.

        Data returned by `/transactions/get` will be the data available for the Item as of the most recent successful check for new transactions. Plaid typically checks for new data multiple times a day, but these checks may occur less frequently, such as once a day, depending on the institution. An Item's `status.transactions.last_successful_update` field will show the timestamp of the most recent successful update. To force Plaid to check for new transactions, you can use the `/transactions/refresh` endpoint.

        Note that data may not be immediately available to `/transactions/get`. Plaid will begin to prepare transactions data upon Item link, if Link was initialized with `transactions`, or upon the first call to `/transactions/get`, if it wasn't. To be alerted when transaction data is ready to be fetched, listen for the [`INITIAL_UPDATE`](https://plaid.com/docs/api/webhooks#transactions-initial_update) and [`HISTORICAL_UPDATE`](https://plaid.com/docs/api/webhooks#transactions-historical_update) webhooks. If no transaction history is ready when `/transactions/get` is called, it will return a `PRODUCT_NOT_READY` error.
      externalDocs:
        url: /api/products/#transactionsget
      operationId: transactionsGet
      requestBody:
        content:
          application/json:
            examples: {}
            schema:
              $ref: '#/components/schemas/TransactionsGetRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    accounts:
                    - account_id: BxBXxLj1m4HMXBm9WZZmCWVbPjX16EHwv99vp
                      balances:
                        available: 110
                        current: 110
                        iso_currency_code: USD
                        limit: null
                        unofficial_currency_code: null
                      mask: "0000"
                      name: Plaid Checking
                      official_name: Plaid Gold Standard 0% Interest Checking
                      subtype: checking
                      type: depository
                    transactions:
                    - account_id: BxBXxLj1m4HMXBm9WZZmCWVbPjX16EHwv99vp
                      amount: 2307.21
                      iso_currency_code: USD
                      unofficial_currency_code: null
                      category:
                      - Shops
                      - Computers and Electronics
                      category_id: "19013000"
                      date: 2017-01-29
                      datetime: null
                      authorized_date: 2017-01-27
                      authorized_datetime: null
                      location:
                        address: 300 Post St
                        city: San Francisco
                        region: CA
                        postal_code: "94108"
                        country: US
                        lat: 40.740352
                        lon: -74.001761
                        store_number: "1235"
                      name: Apple Store
                      merchant_name: Apple
                      payment_meta:
                        by_order_of: null
                        payee: null
                        payer: null
                        payment_method: null
                        payment_processor: null
                        ppd_id: null
                        reason: null
                        reference_number: null
                      payment_channel: in store
                      pending: false
                      pending_transaction_id: null
                      account_owner: null
                      transaction_id: lPNjeW1nR6CDn5okmGQ6hEpMo4lLNoSrzqDje
                      transaction_code: null
                      transaction_type: place
                    item:
                      available_products:
                      - balance
                      - identity
                      - investments
                      billed_products:
                      - assets
                      - auth
                      - liabilities
                      - transactions
                      consent_expiration_time: null
                      error: null
                      institution_id: ins_3
                      item_id: eVBnVMp7zdTJLkRNr33Rs6zr7KNJqBFL9DrE6
                      update_type: background
                      webhook: https://www.genericwebhookurl.com/webhook
                    total_transactions: 1
                    request_id: 45QSn
              schema:
                $ref: '#/components/schemas/TransactionsGetResponse'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error response
      summary: Get transaction data
      tags:
      - plaid
  /transactions/refresh:
    post:
      description: |-
        `/transactions/refresh` is an optional endpoint for users of the Transactions product. It initiates an on-demand extraction to fetch the newest transactions for an Item. This on-demand extraction takes place in addition to the periodic extractions that automatically occur multiple times a day for any Transactions-enabled Item. If changes to transactions are discovered after calling `/transactions/refresh`, Plaid will fire a webhook: [`TRANSACTIONS_REMOVED`](https://plaid.com/docs/api/webhooks#deleted-transactions-detected) will be fired if any removed transactions are detected, and [`DEFAULT_UPDATE`](https://plaid.com/docs/api/webhooks#transactions-default_update) will be fired if any new transactions are detected. New transactions can be fetched by calling `/transactions/get`.

        Access to `/transactions/refresh` in Production is specific to certain pricing plans. If you cannot access `/transactions/refresh` in Production, [contact Sales](https://www.plaid.com/contact) for assistance.
      externalDocs:
        url: /api/products/#transactionsrefresh
      operationId: transactionsRefresh
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransactionsRefreshRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    request_id: 1vwmF5TBQwiqfwP
              schema:
                $ref: '#/components/schemas/TransactionsRefreshResponse'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error response
      summary: Refresh transaction data
      tags:
      - plaid
  /institutions/get:
    post:
      description: |-
        Returns a JSON response containing details on all financial institutions currently supported by Plaid. Because Plaid supports thousands of institutions, results are paginated.

        If there is no overlap between an institution’s enabled products and a client’s enabled products, then the institution will be filtered out from the response. As a result, the number of institutions returned may not match the count specified in the call.

        This data changes frequently. If you store it locally on your system, be sure to update it regularly.
      externalDocs:
        url: /api/institutions/#institutionsget
      operationId: institutionsGet
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InstitutionsGetRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    institutions:
                    - country_codes:
                      - US
                      institution_id: ins_1
                      name: Bank of America
                      oauth: false
                      products:
                      - assets
                      - auth
                      - balance
                      - transactions
                      - identity
                      - liabilities
                      routing_numbers:
                      - "011000138"
                      - "011200365"
                      - "011400495"
                      - "011500010"
                      - "011900254"
                      - "021000322"
                      - "021200339"
                      - "026009593"
                      - "031202084"
                      - "051000017"
                      - "052001633"
                      - "053000196"
                      - "053904483"
                      - "054001204"
                      - "061000052"
                      - "063100277"
                      - "064000020"
                      - "071214579"
                      - "072000805"
                      - "073000176"
                      - "081000032"
                      - "081904808"
                      - "082000073"
                      - "101100045"
                      - "103000017"
                      - "107000327"
                      - "111000025"
                      - "121000358"
                      - "122101706"
                      - "122400724"
                      - "123103716"
                      - "125000024"
                      - "323070380"
                    request_id: tbFyCEqkU774ZGG
                    total: 11384
              schema:
                $ref: '#/components/schemas/InstitutionsGetResponse'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error response
      summary: Get details of all supported institutions
      tags:
      - plaid
  /institutions/search:
    post:
      description: Returns a JSON response containing details for institutions that
        match the query parameters, up to a maximum of ten institutions per query.
      externalDocs:
        url: /api/institutions/#institutionssearch
      operationId: institutionsSearch
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InstitutionsSearchRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    institutions:
                    - country_codes:
                      - US
                      institution_id: ins_118923
                      name: Red Platypus Bank - Red Platypus Bank
                      oauth: false
                      products:
                      - assets
                      - auth
                      - balance
                      - transactions
                      - identity
                      routing_numbers: []
                    request_id: Ggmk0enW4smO2Tp
              schema:
                $ref: '#/components/schemas/InstitutionsSearchResponse'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error response
      summary: Search institutions
      tags:
      - plaid
  /institutions/get_by_id:
    post:
      description: Returns a JSON response containing details on a specified financial
        institution currently supported by Plaid.
      externalDocs:
        url: /api/institutions/#institutionsget_by_id
      operationId: institutionsGetById
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InstitutionsGetByIdRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    institution:
                      country_codes:
                      - US
                      institution_id: ins_109512
                      name: Houndstooth Bank
                      products:
                      - auth
                      - balance
                      - identity
                      - transactions
                      routing_numbers:
                      - "110000000"
                      oauth: false
                      status:
                        item_logins:
                          status: HEALTHY
                          last_status_change: 2019-02-15T15:53:00Z
                          breakdown:
                            success: 0.9
                            error_plaid: 0.01
                            error_institution: 0.09
                        transactions_updates:
                          status: HEALTHY
                          last_status_change: 2019-02-12T08:22:00Z
                          breakdown:
                            success: 0.95
                            error_plaid: 0.02
                            error_institution: 0.03
                            refresh_interval: NORMAL
                        auth:
                          status: HEALTHY
                          last_status_change: 2019-02-15T15:53:00Z
                          breakdown:
                            success: 0.91
                            error_plaid: 0.01
                            error_institution: 0.08
                        balance:
                          status: HEALTHY
                          last_status_change: 2019-02-15T15:53:00Z
                          breakdown:
                            success: 0.89
                            error_plaid: 0.02
                            error_institution: 0.09
                        identity:
                          status: DEGRADED
                          last_status_change: 2019-02-15T15:50:00Z
                          breakdown:
                            success: 0.42
                            error_plaid: 0.08
                            error_institution: 0.5
                        investments_updates:
                          status: HEALTHY
                          last_status_change: 2019-02-12T08:22:00Z
                          breakdown:
                            success: 0.95
                            error_plaid: 0.02
                            error_institution: 0.03
                            refresh_interval: NORMAL
                        primary_color: '#004966'
                        url: https://plaid.com
                        logo: null
                    request_id: m8MDnv9okwxFNBV
              schema:
                $ref: '#/components/schemas/InstitutionsGetByIdResponse'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error response
      summary: Get details of an institution
      tags:
      - plaid
  /item/remove:
    post:
      description: |-
        The `/item/remove`  endpoint allows you to remove an Item. Once removed, the `access_token`  associated with the Item is no longer valid and cannot be used to access any data that was associated with the Item.

        Note that in the Development environment, issuing an `/item/remove`  request will not decrement your live credential count. To increase your credential account in Development, contact Support.

        Also note that for certain OAuth-based institutions, an Item removed via `/item/remove` may still show as an active connection in the institution's OAuth permission manager.
      externalDocs:
        url: /api/items/#itemremove
      operationId: itemRemove
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ItemRemoveRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    request_id: m8MDnv9okwxFNBV
              schema:
                $ref: '#/components/schemas/ItemRemoveResponse'
          description: success
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error response.
      summary: Remove an Item
      tags:
      - plaid
  /accounts/get:
    post:
      description: |-
        The `/accounts/get`  endpoint can be used to retrieve information for any linked Item. Note that some information is nullable. Plaid will only return active bank accounts, i.e. accounts that are not closed and are capable of carrying a balance.

        This endpoint retrieves cached information, rather than extracting fresh information from the institution. As a result, balances returned may not be up-to-date; for realtime balance information, use `/accounts/balance/get` instead.
      externalDocs:
        url: /api/accounts/#accountsget
      operationId: accountsGet
      requestBody:
        content:
          application/json:
            examples:
              example-1:
                value:
                  client_id: string
                  secret: string
                  access_token: string
                  options:
                    account_ids:
                    - string
            schema:
              $ref: '#/components/schemas/AccountsGetRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    accounts:
                    - account_id: blgvvBlXw3cq5GMPwqB6s6q4dLKB9WcVqGDGo
                      balances:
                        available: 100
                        current: 110
                        iso_currency_code: USD
                        limit: null
                        unofficial_currency_code: null
                      mask: "0000"
                      name: Plaid Checking
                      official_name: Plaid Gold Standard 0% Interest Checking
                      subtype: checking
                      type: depository
                    - account_id: 6PdjjRP6LmugpBy5NgQvUqpRXMWxzktg3rwrk
                      balances:
                        available: null
                        current: 23631.9805
                        iso_currency_code: USD
                        limit: null
                        unofficial_currency_code: null
                      mask: "6666"
                      name: Plaid 401k
                      official_name: null
                      subtype: 401k
                      type: investment
                    - account_id: XMBvvyMGQ1UoLbKByoMqH3nXMj84ALSdE5B58
                      balances:
                        available: null
                        current: 65262
                        iso_currency_code: USD
                        limit: null
                        unofficial_currency_code: null
                      mask: "7777"
                      name: Plaid Student Loan
                      official_name: null
                      subtype: student
                      type: loan
                    item:
                      available_products:
                      - balance
                      - identity
                      - payment_initiation
                      - transactions
                      billed_products:
                      - assets
                      - auth
                      consent_expiration_time: null
                      error: null
                      institution_id: ins_117650
                      item_id: DWVAAPWq4RHGlEaNyGKRTAnPLaEmo8Cvq7na6
                      update_type: background
                      webhook: https://www.genericwebhookurl.com/webhook
                    request_id: bkVE1BHWMAZ9Rnr
              schema:
                $ref: '#/components/schemas/AccountsGetResponse'
          description: success
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error response.
      summary: Retrieve accounts
      tags:
      - plaid
  /categories/get:
    post:
      description: Send a request to the `/categories/get`  endpoint to get detailed
        information on categories returned by Plaid. This endpoint does not require
        authentication.
      externalDocs:
        url: /api/products/#categoriesget
      operationId: categoriesGet
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CategoriesGetRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    categories:
                    - category_id: "10000000"
                      group: special
                      hierarchy:
                      - Bank Fees
                    - category_id: "10001000"
                      group: special
                      hierarchy:
                      - Bank Fees
                      - Overdraft
                    - category_id: "12001000"
                      group: place
                      hierarchy:
                      - Community
                      - Animal Shelter
                    request_id: ixTBLZGvhD4NnmB
              schema:
                $ref: '#/components/schemas/CategoriesGetResponse'
          description: success
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error response.
      security: []
      summary: Get Categories
      tags:
      - plaid
  /sandbox/processor_token/create:
    post:
      description: Use the `/sandbox/processor_token/create` endpoint to create a
        valid `processor_token` for an arbitrary institution ID and test credentials.
        The created `processor_token` corresponds to a new Sandbox Item. You can then
        use this `processor_token` with the `/processor/` API endpoints in Sandbox.
        You can also use `/sandbox/processor_token/create` with the [`user_custom`
        test username](https://plaid.com/docs/sandbox/user-custom) to generate a test
        account with custom data.
      externalDocs:
        url: /api/sandbox/#sandboxprocessor_tokencreate
      operationId: sandboxProcessorTokenCreate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SandboxProcessorTokenCreateRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    processor_token: processor-sandbox-b0e2c4ee-a763-4df5-bfe9-46a46bce993d
                    request_id: Aim3b
              schema:
                $ref: '#/components/schemas/SandboxProcessorTokenCreateResponse'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error response.
      summary: Create a test Item and processor token
      tags:
      - plaid
  /sandbox/public_token/create:
    post:
      description: Use the `/sandbox/public_token/create`  endpoint to create a valid
        `public_token`  for an arbitrary institution ID, initial products, and test
        credentials. The created `public_token` maps to a new Sandbox Item. You can
        then call `/item/public_token/exchange` to exchange the `public_token` for
        an `access_token` and perform all API actions. `/sandbox/public_token/create`
        can also be used with the [`user_custom` test username](https://plaid.com/docs/sandbox/user-custom)
        to generate a test account with custom data.
      externalDocs:
        url: /api/sandbox/#sandboxpublic_tokencreate
      operationId: sandboxPublicTokenCreate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SandboxPublicTokenCreateRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    public_token: public-sandbox-b0e2c4ee-a763-4df5-bfe9-46a46bce993d
                    request_id: Aim3b
              schema:
                $ref: '#/components/schemas/SandboxPublicTokenCreateResponse'
          description: success
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error response.
      summary: Create a test Item
      tags:
      - plaid
  /sandbox/item/fire_webhook:
    post:
      description: The `/sandbox/item/fire_webhook` endpoint is used to test that
        code correctly handles webhooks. Calling this endpoint triggers a Transactions
        `DEFAULT_UPDATE` webhook to be fired for a given Sandbox Item. If the Item
        does not support Transactions, a `SANDBOX_PRODUCT_NOT_ENABLED` error will
        result.
      externalDocs:
        url: /api/sandbox/#sandboxitemfire_webhook
      operationId: sandboxItemFireWebhook
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SandboxItemFireWebhookRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    webhook_fired: true
                    request_id: 1vwmF5TBQwiqfwP
              schema:
                $ref: '#/components/schemas/SandboxItemFireWebhookResponse'
          description: success
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error response.
      summary: Fire a test webhook
      tags:
      - plaid
  /accounts/balance/get:
    post:
      description: The `/accounts/balance/get` endpoint returns the real-time balance
        for each of an Item's accounts. While other endpoints may return a balance
        object, only `/accounts/balance/get` forces the available and current balance
        fields to be refreshed rather than cached. This endpoint can be used for existing
        Items that were added via any of Plaid’s other products. This endpoint can
        be used as long as Link has been initialized with any other product, `balance`
        itself is not a product that can be used to initialize Link.
      externalDocs:
        url: /api/products/#accountsbalanceget
      operationId: accountsBalanceGet
      requestBody:
        content:
          application/json:
            examples:
              example-1:
                value:
                  access_token: string
                  secret: string
                  client_id: string
                  options:
                    account_ids:
                    - string
            schema:
              $ref: '#/components/schemas/AccountsBalanceGetRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    accounts:
                    - account_id: BxBXxLj1m4HMXBm9WZZmCWVbPjX16EHwv99vp
                      balances:
                        available: 100
                        current: 110
                        iso_currency_code: USD
                        limit: null
                        unofficial_currency_code: null
                      mask: "0000"
                      name: Plaid Checking
                      official_name: Plaid Gold Standard 0% Interest Checking
                      subtype: checking
                      type: depository
                    - account_id: dVzbVMLjrxTnLjX4G66XUp5GLklm4oiZy88yK
                      balances:
                        available: null
                        current: 410
                        iso_currency_code: USD
                        limit: 2000
                        unofficial_currency_code: null
                      mask: "3333"
                      name: Plaid Credit Card
                      official_name: Plaid Diamond 12.5% APR Interest Credit Card
                      subtype: credit card
                      type: credit
                    - account_id: Pp1Vpkl9w8sajvK6oEEKtr7vZxBnGpf7LxxLE
                      balances:
                        available: null
                        current: 65262
                        iso_currency_code: USD
                        limit: null
                        unofficial_currency_code: null
                      mask: "7777"
                      name: Plaid Student Loan
                      official_name: null
                      subtype: student
                      type: loan
                    item:
                      available_products:
                      - balance
                      - identity
                      - investments
                      billed_products:
                      - assets
                      - auth
                      - liabilities
                      - transactions
                      consent_expiration_time: null
                      error: null
                      institution_id: ins_3
                      item_id: eVBnVMp7zdTJLkRNr33Rs6zr7KNJqBFL9DrE6
                      update_type: background
                      webhook: https://www.genericwebhookurl.com/webhook
                    request_id: qk5Bxes3gDfv4F2
              schema:
                $ref: '#/components/schemas/AccountsGetResponse'
          description: OK
      summary: Retrieve real-time balance data
      tags:
      - plaid
  /identity/get:
    post:
      description: |-
        The `/identity/get` endpoint allows you to retrieve various account holder information on file with the financial institution, including names, emails, phone numbers, and addresses. Only name data is guaranteed to be returned; other fields will be empty arrays if not provided by the institution.

        Note: This request may take some time to complete if identity was not specified as an initial product when creating the Item. This is because Plaid must communicate directly with the institution to retrieve the data.
      externalDocs:
        url: /api/products/#identityget
      operationId: identityGet
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IdentityGetRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    accounts:
                    - account_id: BxBXxLj1m4HMXBm9WZZmCWVbPjX16EHwv99vp
                      balances:
                        available: 100
                        current: 110
                        iso_currency_code: USD
                        limit: null
                        unofficial_currency_code: null
                      mask: "0000"
                      name: Plaid Checking
                      official_name: Plaid Gold Standard 0% Interest Checking
                      owners:
                      - addresses:
                        - data:
                            city: Malakoff
                            country: US
                            postal_code: "14236"
                            region: NY
                            street: 2992 Cameron Road
                          primary: true
                        - data:
                            city: San Matias
                            country: US
                            postal_code: 93405-2255
                            region: CA
                            street: 2493 Leisure Lane
                          primary: false
                        emails:
                        - data: accountholder0@example.com
                          primary: true
                          type: primary
                        - data: accountholder1@example.com
                          primary: false
                          type: secondary
                        - data: extraordinarily.long.email.username.123456@reallylonghostname.com
                          primary: false
                          type: other
                        names:
                        - Alberta Bobbeth Charleson
                        phone_numbers:
                        - data: "1112223333"
                          primary: false
                          type: home
                        - data: "1112224444"
                          primary: false
                          type: work
                        - data: "1112225555"
                          primary: false
                          type: mobile
                      subtype: checking
                      type: depository
                    - account_id: 3gE5gnRzNyfXpBK5wEEKcymJ5albGVUqg77gr
                      balances:
                        available: 200
                        current: 210
                        iso_currency_code: USD
                        limit: null
                        unofficial_currency_code: null
                      mask: "1111"
                      name: Plaid Saving
                      official_name: Plaid Silver Standard 0.1% Interest Saving
                      owners:
                      - addresses:
                        - data:
                            city: Malakoff
                            country: US
                            postal_code: "14236"
                            region: NY
                            street: 2992 Cameron Road
                          primary: true
                        - data:
                            city: San Matias
                            country: US
                            postal_code: 93405-2255
                            region: CA
                            street: 2493 Leisure Lane
                          primary: false
                        emails:
                        - data: accountholder0@example.com
                          primary: true
                          type: primary
                        - data: accountholder1@example.com
                          primary: false
                          type: secondary
                        - data: extraordinarily.long.email.username.123456@reallylonghostname.com
                          primary: false
                          type: other
                        names:
                        - Alberta Bobbeth Charleson
                        phone_numbers:
                        - data: "1112223333"
                          primary: false
                          type: home
                        - data: "1112224444"
                          primary: false
                          type: work
                        - data: "1112225555"
                          primary: false
                          type: mobile
                      subtype: savings
                      type: depository
                    item:
                      available_products:
                      - balance
                      - investments
                      billed_products:
                      - assets
                      - auth
                      - identity
                      - liabilities
                      - transactions
                      consent_expiration_time: null
                      error: null
                      institution_id: ins_3
                      item_id: eVBnVMp7zdTJLkRNr33Rs6zr7KNJqBFL9DrE6
                      update_type: background
                      webhook: https://www.genericwebhookurl.com/webhook
                    request_id: 3nARps6TOYtbACO
              schema:
                $ref: '#/components/schemas/IdentityGetResponse'
          description: OK
      summary: Retrieve identity data
      tags:
      - plaid
  /processor/auth/get:
    post:
      description: The `/processor/auth/get` endpoint returns the bank account and
        bank identification number (such as the routing number, for US accounts),
        for a checking or savings account that's associated with a given `processor_token`.
        The endpoint also returns high-level account data and balances when available.
      externalDocs:
        url: /api/processors/#processorauthget
      operationId: processorAuthGet
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProcessorAuthGetRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    account:
                      account_id: vzeNDwK7KQIm4yEog683uElbp9GRLEFXGK98D
                      balances:
                        available: 100
                        current: 110
                        limit: null
                      mask: "0000"
                      name: Plaid Checking
                      official_name: Plaid Gold Checking
                      subtype: checking
                      type: depository
                    numbers:
                      ach:
                        account: "9900009606"
                        account_id: vzeNDwK7KQIm4yEog683uElbp9GRLEFXGK98D
                        routing: "011401533"
                        wire_routing: "021000021"
                      eft:
                        account: "111122223333"
                        account_id: vzeNDwK7KQIm4yEog683uElbp9GRLEFXGK98D
                        institution: "021"
                        branch: "01140"
                      international:
                        account_id: vzeNDwK7KQIm4yEog683uElbp9GRLEFXGK98D
                        bic: NWBKGB21
                        iban: GB29NWBK60161331926819
                      bacs:
                        account: "31926819"
                        account_id: vzeNDwK7KQIm4yEog683uElbp9GRLEFXGK98D
                        sort_code: "601613"
                    request_id: 1zlMf
              schema:
                $ref: '#/components/schemas/ProcessorAuthGetResponse'
          description: success
      summary: Retrieve Auth data
      tags:
      - plaid
  /processor/bank_transfer/create:
    post:
      description: Use the `/processor/bank_transfer/create` endpoint to initiate
        a new bank transfer as a processor
      externalDocs:
        url: /api/processors/#bank_transfercreate
      operationId: processorBankTransferCreate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProcessorBankTransferCreateRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    bank_transfer:
                      account_id: 6qL6lWoQkAfNE3mB8Kk5tAnvpX81qefrvvl7B
                      ach_class: ppd
                      amount: "12.34"
                      cancellable: true
                      created: 2020-08-06T17:27:15Z
                      custom_tag: my tag
                      description: Testing2
                      direction: outbound
                      failure_reason: null
                      id: 460cbe92-2dcc-8eae-5ad6-b37d0ec90fd9
                      iso_currency_code: USD
                      metadata:
                        key1: value1
                        key2: value2
                      network: ach
                      origination_account_id: 11111111-1111-1111-1111-111111111111
                      status: pending
                      type: credit
                      user:
                        email_address: plaid@plaid.com
                        legal_name: John Smith
                        routing_number: "111111111"
                    request_id: saKrIBuEB9qJZno
              schema:
                $ref: '#/components/schemas/ProcessorBankTransferCreateResponse'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error response
      summary: Create a bank transfer as a processor
      tags:
      - plaid
  /processor/identity/get:
    post:
      description: The `/processor/identity/get` endpoint allows you to retrieve various
        account holder information on file with the financial institution, including
        names, emails, phone numbers, and addresses.
      externalDocs:
        url: /api/processors/#processoridentityget
      operationId: processorIdentityGet
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProcessorIdentityGetRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    account:
                      account_id: XMGPJy4q1gsQoKd5z9R3tK8kJ9EWL8SdkgKMq
                      balances:
                        available: 100
                        current: 110
                        iso_currency_code: USD
                        limit: null
                        unofficial_currency_code: null
                      mask: "0000"
                      name: Plaid Checking
                      official_name: Plaid Gold Standard 0% Interest Checking
                      owners:
                      - addresses:
                        - data:
                            city: Malakoff
                            country: US
                            postal_code: "14236"
                            region: NY
                            street: 2992 Cameron Road
                          primary: true
                        - data:
                            city: San Matias
                            country: US
                            postal_code: 93405-2255
                            region: CA
                            street: 2493 Leisure Lane
                          primary: false
                        emails:
                        - data: accountholder0@example.com
                          primary: true
                          type: primary
                        - data: accountholder1@example.com
                          primary: false
                          type: secondary
                        - data: extraordinarily.long.email.username.123456@reallylonghostname.com
                          primary: false
                          type: other
                        names:
                        - Alberta Bobbeth Charleson
                        phone_numbers:
                        - data: "1112223333"
                          primary: false
                          type: home
                        - data: "1112224444"
                          primary: false
                          type: work
                        - data: "1112225555"
                          primary: false
                          type: mobile1
                      subtype: checking
                      type: depository
                    request_id: eOPkBl6t33veI2J
              schema:
                $ref: '#/components/schemas/ProcessorIdentityGetResponse'
          description: OK
      summary: Retrieve Identity data
      tags:
      - plaid
  /processor/balance/get:
    post:
      description: 'The `/processor/balance/get` endpoint returns the real-time balance
        for each of an Item''s accounts. While other endpoints may return a balance
        object, only `/processor/balance/get` forces the available and current balance
        fields to be refreshed rather than cached. '
      externalDocs:
        url: /api/processors/#processorbalanceget
      operationId: processorBalanceGet
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProcessorBalanceGetRequest'
        description: |-
          The `/processor/balance/get` endpoint returns the real-time balance for the account associated with a given `processor_token`.

          The current balance is the total amount of funds in the account. The available balance is the current balance less any outstanding holds or debits that have not yet posted to the account.

          Note that not all institutions calculate the available balance. In the event that available balance is unavailable from the institution, Plaid will return an available balance value of `null`.
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    account:
                      account_id: QKKzevvp33HxPWpoqn6rI13BxW4awNSjnw4xv
                      balances:
                        available: 100
                        current: 110
                        limit: null
                        iso_currency_code: USD
                        unofficial_currency_code: null
                      mask: "0000"
                      name: Plaid Checking
                      official_name: Plaid Gold Checking
                      subtype: checking
                      type: depository
                    request_id: 1zlMf
              schema:
                $ref: '#/components/schemas/ProcessorBalanceGetResponse'
          description: OK
      summary: Retrieve Balance data
      tags:
      - plaid
  /item/webhook/update:
    post:
      description: The POST `/item/webhook/update` allows you to update the webhook
        URL associated with an Item. This request triggers a [`WEBHOOK_UPDATE_ACKNOWLEDGED`](https://plaid.com/docs/api/webhooks/#item-webhook-url-updated)
        webhook to the newly specified webhook URL.
      externalDocs:
        url: /api/items/#itemwebhookupdate
      operationId: itemWebhookUpdate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ItemWebhookUpdateRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    item:
                      available_products:
                      - balance
                      - identity
                      - payment_initiation
                      - transactions
                      billed_products:
                      - assets
                      - auth
                      consent_expiration_time: null
                      error: null
                      institution_id: ins_117650
                      item_id: DWVAAPWq4RHGlEaNyGKRTAnPLaEmo8Cvq7na6
                      update_type: background
                      webhook: https://www.genericwebhookurl.com/webhook
                    request_id: vYK11LNTfRoAMbj
              schema:
                $ref: '#/components/schemas/ItemWebhookUpdateResponse'
          description: OK
      summary: Update Webhook URL
      tags:
      - plaid
  /item/access_token/invalidate:
    post:
      description: |
        By default, the `access_token` associated with an Item does not expire and should be stored in a persistent, secure manner.

        You can use the `/item/access_token/invalidate` endpoint to rotate the `access_token` associated with an Item. The endpoint returns a new `access_token` and immediately invalidates the previous `access_token`.
      externalDocs:
        url: /api/tokens/#itemaccess_tokeninvalidate
      operationId: itemAccessTokenInvalidate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ItemAccessTokenInvalidateRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    new_access_token: access-sandbox-8ab976e6-64bc-4b38-98f7-731e7a349970
                    request_id: m8MDnv9okwxFNBV
              schema:
                $ref: '#/components/schemas/ItemAccessTokenInvalidateResponse'
          description: OK
      summary: Invalidate access_token
      tags:
      - plaid
  /webhook_verification_key/get:
    post:
      description: |-
        Plaid signs all outgoing webhooks and provides JSON Web Tokens (JWTs) so that you can verify the authenticity of any incoming webhooks to your application. A message signature is included in the `Plaid-Verification` header.

        The `/webhook_verification_key/get` endpoint provides a JSON Web Key (JWK) that can be used to verify a JWT.
      externalDocs:
        url: /api/webhooks/webhook-verification/#webhook_verification_keyget
      operationId: webhookVerificationKeyGet
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookVerificationKeyGetRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    key:
                      alg: ES256
                      created_at: 1560466150
                      crv: P-256
                      expired_at: null
                      kid: bfbd5111-8e33-4643-8ced-b2e642a72f3c
                      kty: EC
                      use: sig
                      x: hKXLGIjWvCBv-cP5euCTxl8g9GLG9zHo_3pO5NN1DwQ
                      y: shhexqPB7YffGn6fR6h2UhTSuCtPmfzQJ6ENVIoO4Ys
                    request_id: RZ6Omi1bzzwDaLo
              schema:
                $ref: '#/components/schemas/WebhookVerificationKeyGetResponse'
          description: OK
      summary: Get webhook verification key
      tags:
      - plaid
  /liabilities/get:
    post:
      description: |-
        The `/liabilities/get` endpoint returns various details about an Item with loan or credit accounts. Liabilities data is available primarily for US financial institutions, with some limited coverage of Canadian institutions. Currently supported account types are account type `credit` with account subtype `credit card` or `paypal`, and account type `loan` with account subtype `student` or `mortgage`. To limit accounts listed in Link to types and subtypes supported by Liabilities, you can use the `account_filters` parameter when [creating a Link token](https://plaid.com/docs/api/tokens/#linktokencreate).

        The types of information returned by Liabilities can include balances and due dates, loan terms, and account details such as original loan amount and guarantor. Data is refreshed approximately once per day; the latest data can be retrieved by calling `/liabilities/get`.

        Note: This request may take some time to complete if `liabilities` was not specified as an initial product when creating the Item. This is because Plaid must communicate directly with the institution to retrieve the additional data.
      externalDocs:
        url: /api/products/#liabilitiesget
      operationId: liabilitiesGet
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LiabilitiesGetRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    accounts:
                    - account_id: BxBXxLj1m4HMXBm9WZZmCWVbPjX16EHwv99vp
                      balances:
                        available: 100
                        current: 110
                        iso_currency_code: USD
                        limit: null
                        unofficial_currency_code: null
                      mask: "0000"
                      name: Plaid Checking
                      official_name: Plaid Gold Standard 0% Interest Checking
                      subtype: checking
                      type: depository
                    - account_id: dVzbVMLjrxTnLjX4G66XUp5GLklm4oiZy88yK
                      balances:
                        available: null
                        current: 410
                        iso_currency_code: USD
                        limit: 2000
                        unofficial_currency_code: null
                      mask: "3333"
                      name: Plaid Credit Card
                      official_name: Plaid Diamond 12.5% APR Interest Credit Card
                      subtype: credit card
                      type: credit
                    - account_id: Pp1Vpkl9w8sajvK6oEEKtr7vZxBnGpf7LxxLE
                      balances:
                        available: null
                        current: 65262
                        iso_currency_code: USD
                        limit: null
                        unofficial_currency_code: null
                      mask: "7777"
                      name: Plaid Student Loan
                      official_name: null
                      subtype: student
                      type: loan
                    - account_id: BxBXxLj1m4HMXBm9WZJyUg9XLd4rKEhw8Pb1J
                      balances:
                        available: null
                        current: 56302.06
                        iso_currency_code: USD
                        limit: null
                        unofficial_currency_code: null
                      mask: "8888"
                      name: Plaid Mortgage
                      official_name: null
                      subtype: mortgage
                      type: loan
                    item:
                      available_products:
                      - balance
                      - investments
                      billed_products:
                      - assets
                      - auth
                      - identity
                      - liabilities
                      - transactions
                      consent_expiration_time: null
                      error: null
                      institution_id: ins_3
                      item_id: eVBnVMp7zdTJLkRNr33Rs6zr7KNJqBFL9DrE6
                      update_type: background
                      webhook: https://www.genericwebhookurl.com/webhook
                    liabilities:
                      credit:
                      - account_id: dVzbVMLjrxTnLjX4G66XUp5GLklm4oiZy88yK
                        aprs:
                        - apr_percentage: 15.24
                          apr_type: balance_transfer_apr
                          balance_subject_to_apr: 1562.32
                          interest_charge_amount: 130.22
                        - apr_percentage: 27.95
                          apr_type: cash_apr
                          balance_subject_to_apr: 56.22
                          interest_charge_amount: 14.81
                        - apr_percentage: 12.5
                          apr_type: purchase_apr
                          balance_subject_to_apr: 157.01
                          interest_charge_amount: 25.66
                        - apr_percentage: 0
                          apr_type: special
                          balance_subject_to_apr: 1000
                          interest_charge_amount: 0
                        is_overdue: false
                        last_payment_amount: 168.25
                        last_payment_date: 2019-05-22
                        last_statement_issue_date: 2019-05-28
                        minimum_payment_amount: 20
                        next_payment_due_date: 2020-05-28
                      mortgage:
                      - account_id: BxBXxLj1m4HMXBm9WZJyUg9XLd4rKEhw8Pb1J
                        account_number: "3120194154"
                        current_late_fee: 25
                        escrow_balance: 3141.54
                        has_pmi: true
                        has_prepayment_penalty: true
                        interest_rate:
                          percentage: 3.99
                          type: fixed
                        last_payment_amount: 3141.54
                        last_payment_date: 2019-08-01
                        loan_term: 30 year
                        loan_type_description: conventional
                        maturity_date: 2045-07-31
                        next_monthly_payment: 3141.54
                        next_payment_due_date: 2019-11-15
                        origination_date: 2015-08-01
                        origination_principal_amount: 425000
                        past_due_amount: 2304
                        property_address:
                          city: Malakoff
                          country: US
                          postal_code: "14236"
                          region: NY
                          street: 2992 Cameron Road
                        ytd_interest_paid: 12300.4
                        ytd_principal_paid: 12340.5
                      student:
                      - account_id: Pp1Vpkl9w8sajvK6oEEKtr7vZxBnGpf7LxxLE
                        account_number: "4277075694"
                        disbursement_dates:
                        - 2002-08-28
                        expected_payoff_date: 2032-07-28
                        guarantor: DEPT OF ED
                        interest_rate_percentage: 5.25
                        is_overdue: false
                        last_payment_amount: 138.05
                        last_payment_date: 2019-04-22
                        last_statement_issue_date: 2019-04-28
                        loan_name: Consolidation
                        loan_status:
                          end_date: 2032-07-28
                          type: repayment
                        minimum_payment_amount: 25
                        next_payment_due_date: 2019-05-28
                        origination_date: 2002-08-28
                        origination_principal_amount: 25000
                        outstanding_interest_amount: 6227.36
                        payment_reference_number: "4277075694"
                        pslf_status:
                          estimated_eligibility_date: 2021-01-01
                          payments_made: 200
                          payments_remaining: 160
                        repayment_plan:
                          description: Standard Repayment
                          type: standard
                        sequence_number: "1"
                        servicer_address:
                          city: San Matias
                          country: US
                          postal_code: "99415"
                          region: CA
                          street: 123 Relaxation Road
                        ytd_interest_paid: 280.55
                        ytd_principal_paid: 271.65
                    request_id: dTnnm60WgKGLnKL
              schema:
                $ref: '#/components/schemas/LiabilitiesGetResponse'
          description: OK
      summary: Retrieve Liabilities data
      tags:
      - plaid
  /payment_initiation/recipient/create:
    post:
      description: |
        Create a payment recipient for payment initiation.  The recipient must be in Europe, within a country that is a member of the Single Euro Payment Area (SEPA).  For a standing order (recurring) payment, the recipient must be in the UK.

        The endpoint is idempotent: if a developer has already made a request with the same payment details, Plaid will return the same `recipient_id`.
      externalDocs:
        url: /api/products/#payment_initiationrecipientcreate
      operationId: paymentInitiationRecipientCreate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentInitiationRecipientCreateRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    recipient_id: recipient-id-sandbox-9b6b4679-914b-445b-9450-efbdb80296f6
                    request_id: 4zlKapIkTm8p5KM
              schema:
                $ref: '#/components/schemas/PaymentInitiationRecipientCreateResponse'
          description: OK
      summary: Create payment recipient
      tags:
      - plaid
  /payment_initiation/recipient/get:
    post:
      description: Get details about a payment recipient you have previously created.
      externalDocs:
        url: /api/products/#payment_initiationrecipientget
      operationId: paymentInitiationRecipientGet
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentInitiationRecipientGetRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    recipient_id: recipient-id-sandbox-9b6b4679-914b-445b-9450-efbdb80296f6
                    name: Wonder Wallet
                    iban: GB29NWBK60161331926819
                    address:
                      street:
                      - 96 Guild Street
                      - 9th Floor
                      city: London
                      postal_code: SE14 8JW
                      country: GB
                    request_id: 4zlKapIkTm8p5KM
              schema:
                $ref: '#/components/schemas/PaymentInitiationRecipientGetResponse'
          description: OK
      summary: Get payment recipient
      tags:
      - plaid
  /payment_initiation/recipient/list:
    post:
      description: The `/payment_initiation/recipient/list` endpoint list the payment
        recipients that you have previously created.
      externalDocs:
        url: /api/products/#payment_initiationrecipientlist
      operationId: paymentInitiationRecipientList
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentInitiationRecipientListRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    recipients:
                    - recipient_id: recipient-id-sandbox-9b6b4679-914b-445b-9450-efbdb80296f6
                      name: Wonder Wallet
                      iban: GB29NWBK60161331926819
                      address:
                        street:
                        - 96 Guild Street
                        - 9th Floor
                        city: London
                        postal_code: SE14 8JW
                        country: GB
                    request_id: 4zlKapIkTm8p5KM
              schema:
                $ref: '#/components/schemas/PaymentInitiationRecipientListResponse'
          description: OK
      summary: List payment recipients
      tags:
      - plaid
  /payment_initiation/payment/create:
    post:
      description: |-
        After creating a payment recipient, you can use the `/payment_initiation/payment/create` endpoint to create a payment to that recipient.  Payments can be one-time or standing order (recurring) and can be denominated in either EUR or GBP.  If making domestic GBP-denominated payments, your recipient must have been created with BACS numbers. In general, EUR-denominated payments will be sent via SEPA Credit Transfer and GBP-denominated payments will be sent via the Faster Payments network, but the payment network used will be determined by the institution. Payments sent via Faster Payments will typically arrive immediately, while payments sent via SEPA Credit Transfer will typically arrive in one business day.

        Standing orders (recurring payments) must be denominated in GBP and can only be sent to recipients in the UK. Once created, standing order payments cannot be modified or canceled via the API. An end user can cancel or modify a standing order directly on their banking application or website, or by contacting the bank. Standing orders will follow the payment rules of the underlying rails (Faster Payments in UK). Payments can be sent Monday to Friday, excluding bank holidays. If the pre-arranged date falls on a weekend or bank holiday, the payment is made on the next working day. It is not possible to guarantee the exact time the payment will reach the recipient’s account, although at least 90% of standing order payments are sent by 6am.

        In the Development environment, payments must be below 5 GBP / EUR. For details on any payment limits in Production, contact your Plaid Account Manager.
      externalDocs:
        url: /api/products/#payment_initiationpaymentcreate
      operationId: paymentInitiationPaymentCreate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentInitiationPaymentCreateRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    payment_id: payment-id-sandbox-feca8a7a-5591-4aef-9297-f3062bb735d3
                    status: PAYMENT_STATUS_INPUT_NEEDED
                    request_id: 4ciYVmesrySiUAB
              schema:
                $ref: '#/components/schemas/PaymentInitiationPaymentCreateResponse'
          description: OK
      summary: Create a payment
      tags:
      - plaid
  /payment_initiation/payment/token/create:
    post:
      deprecated: true
      description: |-
        The `/payment_initiation/payment/token/create` endpoint has been deprecated. New Plaid customers will be unable to use this endpoint, and existing customers are encouraged to migrate to the newer, `link_token`-based flow. The recommended flow is to provide the `payment_id` to `/link/token/create`, which returns a `link_token` used to initialize Link.

        The `/payment_initiation/payment/token/create` is used to create a `payment_token`, which can then be used in Link initialization to enter a payment initiation flow. You can only use a `payment_token` once. If this attempt fails, the end user aborts the flow, or the token expires, you will need to create a new payment token. Creating a new payment token does not require end user input.
      externalDocs:
        url: /link/maintain-legacy-integration/#creating-a-payment-token
      operationId: createPaymentToken
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentInitiationPaymentTokenCreateRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    payment_token: payment-token-sandbox-feca8a7a-5591-4aef-9297-f3062bb735d3
                    payment_token_expiration_time: 2020-01-01T00:00:00Z
                    request_id: 4ciYVmesrySiUAB
              schema:
                $ref: '#/components/schemas/PaymentInitiationPaymentTokenCreateResponse'
          description: OK
      summary: Create payment token
      tags:
      - plaid
  /sandbox/item/reset_login:
    post:
      description: |-
        `/sandbox/item/reset_login/` forces an Item into an `ITEM_LOGIN_REQUIRED` state in order to simulate an Item whose login is no longer valid. This makes it easy to test Link's [update mode](https://plaid.com/docs/link/update-mode) flow in the Sandbox environment.  After calling `/sandbox/item/reset_login`, You can then use Plaid Link update mode to restore the Item to a good state. An `ITEM_LOGIN_REQUIRED` webhook will also be fired after a call to this endpoint, if one is associated with the Item.


        In the Sandbox, Items will transition to an `ITEM_LOGIN_REQUIRED` error state automatically after 30 days, even if this endpoint is not called.
      externalDocs:
        url: /api/sandbox/#sandboxitemreset_login
      operationId: sandboxItemResetLogin
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SandboxItemResetLoginRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    reset_login: true
                    request_id: m8MDnv9okwxFNBV
              schema:
                $ref: '#/components/schemas/SandboxItemResetLoginResponse'
          description: OK
      summary: Force a Sandbox Item into an error state
      tags:
      - plaid
  /sandbox/item/set_verification_status:
    post:
      description: |-
        The `/sandbox/item/set_verification_status` endpoint can be used to change the verification status of an Item in in the Sandbox in order to simulate the Automated Micro-deposit flow.

        Note that not all Plaid developer accounts are enabled for micro-deposit based verification by default. Your account must be enabled for this feature in order to test it in Sandbox. To enable this features or check your status, contact your account manager or [submit a product access Support ticket](https://dashboard.plaid.com/support/new/product-and-development/product-troubleshooting/request-product-access).

        For more information on testing Automated Micro-deposits in Sandbox, see [Auth full coverage testing](https://plaid.com/docs/auth/coverage/testing#).
      externalDocs:
        url: /api/sandbox/#sandboxitemset_verification_status
      operationId: sandboxItemSetVerificationStatus
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SandboxItemSetVerificationStatusRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    request_id: 1vwmF5TBQwiqfwP
              schema:
                $ref: '#/components/schemas/SandboxItemSetVerificationStatusResponse'
          description: OK
      summary: Set verification status for Sandbox account
      tags:
      - plaid
  /item/public_token/exchange:
    post:
      description: |-
        Exchange a Link `public_token` for an API `access_token`. Link hands off the `public_token` client-side via the `onSuccess` callback once a user has successfully created an Item. The `public_token` is ephemeral and expires after 30 minutes.

        The response also includes an `item_id` that should be stored with the `access_token`. The `item_id` is used to identify an Item in a webhook. The `item_id` can also be retrieved by making an `/item/get` request.
      externalDocs:
        url: /api/tokens/#itempublic_tokenexchange
      operationId: itemPublicTokenExchange
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ItemPublicTokenExchangeRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    access_token: access-sandbox-de3ce8ef-33f8-452c-a685-8671031fc0f6
                    item_id: M5eVJqLnv3tbzdngLDp9FL5OlDNxlNhlE55op
                    request_id: Aim3b
              schema:
                $ref: '#/components/schemas/ItemPublicTokenExchangeResponse'
          description: OK
      summary: Exchange public token for an access token
      tags:
      - plaid
  /item/public_token/create:
    post:
      description: |-
        Note: As of July 2020, the `/item/public_token/create` endpoint is deprecated. Instead, use `/link/token/create` with an `access_token` to create a Link token for use with [update mode](https://plaid.com/docs/link/update-mode).

        If you need your user to take action to restore or resolve an error associated with an Item, generate a public token with the `/item/public_token/create` endpoint and then initialize Link with that `public_token`.

        A `public_token` is one-time use and expires after 30 minutes. You use a `public_token` to initialize Link in [update mode](https://plaid.com/docs/link/update-mode) for a particular Item. You can generate a `public_token` for an Item even if you did not use Link to create the Item originally.

        The `/item/public_token/create` endpoint is **not** used to create your initial `public_token`. If you have not already received an `access_token` for a specific Item, use Link to obtain your `public_token` instead. See the [Quickstart](https://plaid.com/docs/quickstart) for more information.
      externalDocs:
        url: /api/tokens/#itempublic_tokencreate
      operationId: itemCreatePublicToken
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ItemPublicTokenCreateRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    public_token: public-sandbox-b0e2c4ee-a763-4df5-bfe9-46a46bce993d
                    request_id: Aim3b
              schema:
                $ref: '#/components/schemas/ItemPublicTokenCreateResponse'
          description: OK
      summary: Create public token
      tags:
      - plaid
  /payment_initiation/payment/get:
    post:
      description: The `/payment_initiation/payment/get` endpoint can be used to check
        the status of a payment, as well as to receive basic information such as recipient
        and payment amount. In the case of standing orders, the `/payment_initiation/payment/get`
        endpoint will provide information about the status of the overall standing
        order itself; the API cannot be used to retrieve payment status for individual
        payments within a standing order.
      externalDocs:
        url: /api/products/#payment_initiationpaymentget
      operationId: paymentInitiationPaymentGet
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentInitiationPaymentGetRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    payment_id: payment-id-sandbox-feca8a7a-5591-4aef-9297-f3062bb735d3
                    payment_token: payment-token-sandbox-c6a26505-42b4-46fe-8ecf-bf9edcafbebb
                    reference: Account Funding 99744
                    amount:
                      currency: GBP
                      value: 100
                    status: PAYMENT_STATUS_INPUT_NEEDED
                    last_status_update: 2019-11-06T21:10:52Z
                    payment_expiration_time: 2019-11-06T21:25:52Z
                    recipient_id: recipient-id-sandbox-9b6b4679-914b-445b-9450-efbdb80296f6
                    bacs: null
                    iban: null
                    request_id: aEAQmewMzlVa1k6
              schema:
                $ref: '#/components/schemas/PaymentInitiationPaymentGetResponse'
          description: OK
      summary: Get payment details
      tags:
      - plaid
  /payment_initiation/payment/list:
    post:
      description: The `/payment_initiation/payment/list` endpoint can be used to
        retrieve all created payments. By default, the 10 most recent payments are
        returned. You can request more payments and paginate through the results using
        the optional `count` and `cursor` parameters.
      externalDocs:
        url: /api/products/#payment_initiationpaymentlist
      operationId: paymentInitiationPaymentList
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentInitiationPaymentListRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    payments:
                    - payment_id: payment-id-sandbox-feca8a7a-5591-4aef-9297-f3062bb735d3
                      reference: Account Funding 99744
                      amount:
                        currency: GBP
                        value: 100
                      status: PAYMENT_STATUS_INPUT_NEEDED
                      last_status_update: 2019-11-06T21:10:52Z
                      recipient_id: recipient-id-sandbox-9b6b4679-914b-445b-9450-efbdb80296f6
                      bacs: null
                      iban: null
                    next_cursor: 2020-01-01T00:00:00Z
                    request_id: aEAQmewMzlVa1k6
              schema:
                $ref: '#/components/schemas/PaymentInitiationPaymentListResponse'
          description: OK
      summary: List payments
      tags:
      - plaid
  /asset_report/create:
    post:
      description: |-
        The `/asset_report/create` endpoint initiates the process of creating an Asset Report, which can then be retrieved by passing the `asset_report_token` return value to the `/asset_report/get` or `/asset_report/pdf/get` endpoints.

        The Asset Report takes some time to be created and is not available immediately after calling `/asset_report/create`. When the Asset Report is ready to be retrieved using `/asset_report/get` or `/asset_report/pdf/get`, Plaid will fire a `PRODUCT_READY` webhook. For full details of the webhook schema, see [Asset Report webhooks](https://plaid.com/docs/api/webhooks/#Assets-webhooks).

        The `/asset_report/create` endpoint creates an Asset Report at a moment in time. Asset Reports are immutable. To get an updated Asset Report, use the `/asset_report/refresh` endpoint.
      externalDocs:
        url: /api/products/#asset_reportcreate
      operationId: assetReportCreate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssetReportCreateRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    asset_report_token: assets-sandbox-6f12f5bb-22dd-4855-b918-f47ec439198a
                    asset_report_id: 1f414183-220c-44f5-b0c8-bc0e6d4053bb
                    request_id: Iam3b
              schema:
                $ref: '#/components/schemas/AssetReportCreateResponse'
          description: OK
      summary: Create an Asset Report
      tags:
      - plaid
  /asset_report/refresh:
    post:
      description: |-
        An Asset Report is an immutable snapshot of a user's assets. In order to "refresh" an Asset Report you created previously, you can use the `/asset_report/refresh` endpoint to create a new Asset Report based on the old one, but with the most recent data available.

        The new Asset Report will contain the same Items as the original Report, as well as the same filters applied by any call to `/asset_report/filter`. By default, the new Asset Report will also use the same parameters you submitted with your original `/asset_report/create` request, but the original `days_requested` value and the values of any parameters in the `options` object can be overridden with new values. To change these arguments, simply supply new values for them in your request to `/asset_report/refresh`. Submit an empty string ("") for any previously-populated fields you would like set as empty.
      externalDocs:
        url: /api/products/#asset_reportrefresh
      operationId: assetReportRefresh
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssetReportRefreshRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    asset_report_id: c33ebe8b-6a63-4d74-a83d-d39791231ac0
                    asset_report_token: assets-sandbox-8218d5f8-6d6d-403d-92f5-13a9afaa4398
                    request_id: NBZaq
              schema:
                $ref: '#/components/schemas/AssetReportRefreshResponse'
          description: OK
      summary: Refresh an Asset Report
      tags:
      - plaid
  /asset_report/remove:
    post:
      description: |-
        The `/item/remove` endpoint allows you to invalidate an `access_token`, meaning you will not be able to create new Asset Reports with it. Removing an Item does not affect any Asset Reports or Audit Copies you have already created, which will remain accessible until you remove them specifically.

        The `/asset_report/remove` endpoint allows you to remove an Asset Report. Removing an Asset Report invalidates its `asset_report_token`, meaning you will no longer be able to use it to access Report data or create new Audit Copies. Removing an Asset Report does not affect the underlying Items, but does invalidate any `audit_copy_tokens` associated with the Asset Report.
      externalDocs:
        url: /api/products/#asset_reportremove
      operationId: assetReportRemove
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssetReportRemoveRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    removed: true
                    request_id: I6zHN
              schema:
                $ref: '#/components/schemas/AssetReportRemoveResponse'
          description: OK
      summary: Delete an Asset Report
      tags:
      - plaid
  /asset_report/filter:
    post:
      description: |-
        By default, an Asset Report will contain all of the accounts on a given Item. In some cases, you may not want the Asset Report to contain all accounts. For example, you might have the end user choose which accounts are relevant in Link using the Select Account view, which you can enable in the dashboard. Or, you might always exclude certain account types or subtypes, which you can identify by using the `/accounts/get` endpoint. To narrow an Asset Report to only a subset of accounts, use the `/asset_report/filter` endpoint.

        To exclude certain Accounts from an Asset Report, first use the `/asset_report/create` endpoint to create the report, then send the `asset_report_token` along with a list of `account_ids` to exclude to the `/asset_report/filter` endpoint, to create a new Asset Report which contains only a subset of the original Asset Report's data.

        Because Asset Reports are immutable, calling `/asset_report/filter` does not alter the original Asset Report in any way; rather, `/asset_report/filter` creates a new Asset Report with a new token and id. Asset Reports created via `/asset_report/filter` do not contain new Asset data, and are not billed.

        Plaid will fire a [`PRODUCT_READY`](https://plaid.com/docs/api/webhooks) webhook once generation of the filtered Asset Report has completed.
      externalDocs:
        url: /api/products/#asset_reportfilter
      operationId: assetReportFilter
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssetReportFilterRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    asset_report_token: assets-sandbox-bc410c6a-4653-4c75-985c-e757c3497c5c
                    asset_report_id: fdc09207-0cef-4d88-b5eb-0d970758ebd9
                    request_id: qEg07
              schema:
                $ref: '#/components/schemas/AssetReportFilterResponse'
          description: OK
      summary: Filter Asset Report
      tags:
      - plaid
  /asset_report/get:
    post:
      description: |-
        The `/asset_report/get` endpoint retrieves the Asset Report in JSON format. Before calling `/asset_report/get`, you must first create the Asset Report using `/asset_report/create` (or filter an Asset Report using `/asset_report/filter`) and then wait for the [`PRODUCT_READY`](https://plaid.com/docs/api/webhooks) webhook to fire, indicating that the Report is ready to be retrieved.

        By default, an Asset Report includes transaction descriptions as returned by the bank, as opposed to parsed and categorized by Plaid. You can also receive cleaned and categorized transactions, as well as additional insights like merchant name or location information. We call this an Asset Report with Insights. An Asset Report with Insights provides transaction category, location, and merchant information in addition to the transaction strings provided in a standard Asset Report.

        To retrieve an Asset Report with Insights, call the `/asset_report/get` endpoint with `include_insights` set to `true`.
      externalDocs:
        url: /api/products/#asset_reportget
      operationId: assetReportGet
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssetReportGetRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    report:
                      asset_report_id: bf3a0490-344c-4620-a219-2693162e4b1d
                      client_report_id: 123abc
                      date_generated: 2020-06-05T22:47:53Z
                      days_requested: 3
                      items:
                      - accounts:
                        - account_id: 3gE5gnRzNyfXpBK5wEEKcymJ5albGVUqg77gr
                          balances:
                            available: 200
                            current: 210
                            iso_currency_code: USD
                            limit: null
                            unofficial_currency_code: null
                          days_available: 3
                          historical_balances:
                          - current: 210
                            date: 2020-06-04
                            iso_currency_code: USD
                            unofficial_currency_code: null
                          - current: 210
                            date: 2020-06-03
                            iso_currency_code: USD
                            unofficial_currency_code: null
                          - current: 210
                            date: 2020-06-02
                            iso_currency_code: USD
                            unofficial_currency_code: null
                          mask: "1111"
                          name: Plaid Saving
                          official_name: Plaid Silver Standard 0.1% Interest Saving
                          owners:
                          - addresses:
                            - data:
                                city: Malakoff
                                country: US
                                postal_code: "14236"
                                region: NY
                                street: 2992 Cameron Road
                              primary: true
                            - data:
                                city: San Matias
                                country: US
                                postal_code: 93405-2255
                                region: CA
                                street: 2493 Leisure Lane
                              primary: false
                            emails:
                            - data: accountholder0@example.com
                              primary: true
                              type: primary
                            - data: accountholder1@example.com
                              primary: false
                              type: secondary
                            - data: extraordinarily.long.email.username.123456@reallylonghostname.com
                              primary: false
                              type: other
                            names:
                            - Alberta Bobbeth Charleson
                            phone_numbers:
                            - data: "1112223333"
                              primary: false
                              type: home
                            - data: "1112224444"
                              primary: false
[...]
