openapi: 3.0.0
info:
  contact:
    name: Plaid Developer Team
    url: https://plaid.com
  description: The Plaid REST API. Please see https://plaid.com/docs/api for more
    details.
  termsOfService: https://plaid.com/legal/
  title: The Plaid API
  version: 2020-09-14_1.121.0
servers:
- description: Production
  url: https://production.plaid.com
- description: Development
  url: https://development.plaid.com
- description: Sandbox
  url: https://sandbox.plaid.com
security:
- clientId: []
  secret: []
  plaidVersion: []
tags:
- description: The Plaid API
  name: plaid
paths:
  /item/application/list:
    post:
      description: List a user’s connected applications
      operationId: itemApplicationList
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ItemApplicationListRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ItemApplicationListResponse'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error response.
      summary: List a user’s connected applications
      tags:
      - plaid
  /item/application/scopes/update:
    post:
      description: Enable consumers to update product access on selected accounts
        for an application.
      operationId: itemApplicationScopesUpdate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ItemApplicationScopesUpdateRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ItemApplicationScopesUpdateResponse'
          description: success
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error response.
      summary: Update the scopes of access for a particular application
      tags:
      - plaid
  /application/get:
    post:
      description: Allows financial institutions to retrieve information about Plaid
        clients for the purpose of building control-tower experiences
      operationId: applicationGet
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicationGetRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationGetResponse'
          description: success
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error response.
      summary: Retrieve information about a Plaid application
      tags:
      - plaid
  /item/get:
    post:
      description: Returns information about the status of an Item.
      externalDocs:
        url: /api/items/#itemget
      operationId: itemGet
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ItemGetRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    item:
                      available_products:
                      - balance
                      - auth
                      billed_products:
                      - identity
                      - transactions
                      error: null
                      institution_id: ins_109508
                      item_id: Ed6bjNrDLJfGvZWwnkQlfxwoNz54B5C97ejBr
                      update_type: background
                      webhook: https://plaid.com/example/hook
                      consent_expiration_time: null
                    status:
                      transactions:
                        last_successful_update: 2019-02-15T15:52:39Z
                        last_failed_update: 2019-01-22T04:32:00Z
                      last_webhook:
                        sent_at: 2019-02-15T15:53:00Z
                        code_sent: DEFAULT_UPDATE
                    request_id: m8MDnv9okwxFNBV
              schema:
                $ref: '#/components/schemas/ItemGetResponse'
          description: success
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error response.
      summary: Retrieve an Item
      tags:
      - plaid
  /auth/get:
    post:
      description: |-
        The `/auth/get` endpoint returns the bank account and bank identification numbers (such as routing numbers, for US accounts) associated with an Item's checking and savings accounts, along with high-level account data and balances when available.

        Note: This request may take some time to complete if `auth` was not specified as an initial product when creating the Item. This is because Plaid must communicate directly with the institution to retrieve the data.

        Also note that `/auth/get` will not return data for any new accounts opened after the Item was created. To obtain data for new accounts, create a new Item.

        Versioning note: In API version 2017-03-08, the schema of the `numbers` object returned by this endpoint is substantially different. For details, see [Plaid API versioning](https://plaid.com/docs/api/versioning/#version-2018-05-22).
      externalDocs:
        url: /api/products/auth/#authget
      operationId: authGet
      requestBody:
        content:
          application/json:
            examples: {}
            schema:
              $ref: '#/components/schemas/AuthGetRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    accounts:
                    - account_id: vzeNDwK7KQIm4yEog683uElbp9GRLEFXGK98D
                      balances:
                        available: 100
                        current: 110
                        limit: null
                        iso_currency_code: USD
                        unofficial_currency_code: null
                      mask: "9606"
                      name: Plaid Checking
                      official_name: Plaid Gold Checking
                      subtype: checking
                      type: depository
                    numbers:
                      ach:
                      - account: "9900009606"
                        account_id: vzeNDwK7KQIm4yEog683uElbp9GRLEFXGK98D
                        routing: "011401533"
                        wire_routing: "021000021"
                      eft:
                      - account: "111122223333"
                        account_id: vzeNDwK7KQIm4yEog683uElbp9GRLEFXGK98D
                        institution: "021"
                        branch: "01140"
                      international:
                      - account_id: vzeNDwK7KQIm4yEog683uElbp9GRLEFXGK98D
                        bic: NWBKGB21
                        iban: GB29NWBK60161331926819
                      bacs:
                      - account: "31926819"
                        account_id: vzeNDwK7KQIm4yEog683uElbp9GRLEFXGK98D
                        sort_code: "601613"
                    item:
                      available_products:
                      - balance
                      - identity
                      - payment_initiation
                      - transactions
                      billed_products:
                      - assets
                      - auth
                      consent_expiration_time: null
                      error: null
                      institution_id: ins_117650
                      item_id: DWVAAPWq4RHGlEaNyGKRTAnPLaEmo8Cvq7na6
                      update_type: background
                      webhook: https://www.genericwebhookurl.com/webhook
                    request_id: m8MDnv9okwxFNBV
              schema:
                $ref: '#/components/schemas/AuthGetResponse'
          description: success
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Default error
      summary: Retrieve auth data
      tags:
      - plaid
  /transactions/get:
    post:
      description: |-
        The `/transactions/get` endpoint allows developers to receive user-authorized transaction data for credit, depository, and some loan-type accounts (only those with account subtype `student`; coverage may be limited). For transaction history from investments accounts, use the [Investments endpoint](https://plaid.com/docs/api/products/investments/) instead. Transaction data is standardized across financial institutions, and in many cases transactions are linked to a clean name, entity type, location, and category. Similarly, account data is standardized and returned with a clean name, number, balance, and other meta information where available.

        Transactions are returned in reverse-chronological order, and the sequence of transaction ordering is stable and will not shift.  Transactions are not immutable and can also be removed altogether by the institution; a removed transaction will no longer appear in `/transactions/get`.  For more details, see [Pending and posted transactions](https://plaid.com/docs/transactions/transactions-data/#pending-and-posted-transactions).

        Due to the potentially large number of transactions associated with an Item, results are paginated. Manipulate the `count` and `offset` parameters in conjunction with the `total_transactions` response body field to fetch all available transactions.

        Data returned by `/transactions/get` will be the data available for the Item as of the most recent successful check for new transactions. Plaid typically checks for new data multiple times a day, but these checks may occur less frequently, such as once a day, depending on the institution. An Item's `status.transactions.last_successful_update` field will show the timestamp of the most recent successful update. To force Plaid to check for new transactions, you can use the `/transactions/refresh` endpoint.

        Note that data may not be immediately available to `/transactions/get`. Plaid will begin to prepare transactions data upon Item link, if Link was initialized with `transactions`, or upon the first call to `/transactions/get`, if it wasn't. To be alerted when transaction data is ready to be fetched, listen for the [`INITIAL_UPDATE`](https://plaid.com/docs/api/products/transactions/#initial_update) and [`HISTORICAL_UPDATE`](https://plaid.com/docs/api/products/transactions/#historical_update) webhooks. If no transaction history is ready when `/transactions/get` is called, it will return a `PRODUCT_NOT_READY` error.
      externalDocs:
        url: /api/products/transactions/#transactionsget
      operationId: transactionsGet
      requestBody:
        content:
          application/json:
            examples: {}
            schema:
              $ref: '#/components/schemas/TransactionsGetRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    accounts:
                    - account_id: BxBXxLj1m4HMXBm9WZZmCWVbPjX16EHwv99vp
                      balances:
                        available: 110
                        current: 110
                        iso_currency_code: USD
                        limit: null
                        unofficial_currency_code: null
                      mask: "0000"
                      name: Plaid Checking
                      official_name: Plaid Gold Standard 0% Interest Checking
                      subtype: checking
                      type: depository
                    transactions:
                    - account_id: BxBXxLj1m4HMXBm9WZZmCWVbPjX16EHwv99vp
                      amount: 2307.21
                      iso_currency_code: USD
                      unofficial_currency_code: null
                      category:
                      - Shops
                      - Computers and Electronics
                      category_id: "19013000"
                      check_number: null
                      date: 2017-01-29
                      datetime: 2017-01-27T11:00:00Z
                      authorized_date: 2017-01-27
                      authorized_datetime: 2017-01-27T10:34:50Z
                      location:
                        address: 300 Post St
                        city: San Francisco
                        region: CA
                        postal_code: "94108"
                        country: US
                        lat: 40.740352
                        lon: -74.001761
                        store_number: "1235"
                      name: Apple Store
                      merchant_name: Apple
                      payment_meta:
                        by_order_of: null
                        payee: null
                        payer: null
                        payment_method: null
                        payment_processor: null
                        ppd_id: null
                        reason: null
                        reference_number: null
                      payment_channel: in store
                      pending: false
                      pending_transaction_id: null
                      account_owner: null
                      transaction_id: lPNjeW1nR6CDn5okmGQ6hEpMo4lLNoSrzqDje
                      transaction_code: null
                      transaction_type: place
                    item:
                      available_products:
                      - balance
                      - identity
                      - investments
                      billed_products:
                      - assets
                      - auth
                      - liabilities
                      - transactions
                      consent_expiration_time: null
                      error: null
                      institution_id: ins_3
                      item_id: eVBnVMp7zdTJLkRNr33Rs6zr7KNJqBFL9DrE6
                      update_type: background
                      webhook: https://www.genericwebhookurl.com/webhook
                    total_transactions: 1
                    request_id: 45QSn
              schema:
                $ref: '#/components/schemas/TransactionsGetResponse'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error response
      summary: Get transaction data
      tags:
      - plaid
  /transactions/refresh:
    post:
      description: |-
        `/transactions/refresh` is an optional endpoint for users of the Transactions product. It initiates an on-demand extraction to fetch the newest transactions for an Item. This on-demand extraction takes place in addition to the periodic extractions that automatically occur multiple times a day for any Transactions-enabled Item. If changes to transactions are discovered after calling `/transactions/refresh`, Plaid will fire a webhook: [`TRANSACTIONS_REMOVED`](https://plaid.com/docs/api/products/transactions/#transactions_removed) will be fired if any removed transactions are detected, and [`DEFAULT_UPDATE`](https://plaid.com/docs/api/products/transactions/#default_update) will be fired if any new transactions are detected. New transactions can be fetched by calling `/transactions/get`.

        Access to `/transactions/refresh` in Production is specific to certain pricing plans. If you cannot access `/transactions/refresh` in Production, [contact Sales](https://www.plaid.com/contact) for assistance.
      externalDocs:
        url: /api/products/transactions/#transactionsrefresh
      operationId: transactionsRefresh
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransactionsRefreshRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    request_id: 1vwmF5TBQwiqfwP
              schema:
                $ref: '#/components/schemas/TransactionsRefreshResponse'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error response
      summary: Refresh transaction data
      tags:
      - plaid
  /transactions/recurring/get:
    post:
      description: |-
        The `/transactions/recurring/get` endpoint allows developers to receive a summary of the recurring outflow and inflow streams (expenses and deposits) from a user’s checking, savings or credit card accounts. Additionally, Plaid provides key insights about each recurring stream including the category, merchant, last amount, and more. Developers can use these insights to build tools and experiences that help their users better manage cash flow, monitor subscriptions, reduce spend, and stay on track with bill payments.

        This endpoint is not included by default as part of Transactions. To request access to this endpoint and learn more about pricing, contact your Plaid account manager.

        Note that unlike `/transactions/get`, `/transactions/recurring/get` will not initialize an Item with Transactions. The Item must already have been initialized with Transactions (either during Link, by specifying it in `/link/token/create`, or after Link, by calling `/transactions/get`) before calling this endpoint. Data is available to `/transactions/recurring/get` approximately 5 seconds after the [`HISTORICAL_UPDATE`](https://plaid.com/docs/api/products/transactions/#historical_update) webhook has fired (about 1-2 minutes after initialization).

        After the initial call, you can call `/transactions/recurring/get` endpoint at any point in the future to retrieve the latest summary of recurring streams. Since recurring streams do not change often, it will typically not be necessary to call this endpoint more than once per day.
      externalDocs:
        url: /api/products/transactions/#transactionsrecurringget
      operationId: transactionsRecurringGet
      requestBody:
        content:
          application/json:
            examples: {}
            schema:
              $ref: '#/components/schemas/TransactionsRecurringGetRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    updated_datetime: 2022-05-01T00:00:00Z
                    inflow_streams:
                    - account_id: lPNjeW1nR6CDn5okmGQ6hEpMo4lLNoSrzqDje
                      stream_id: no86Eox18VHMvaOVL7gPUM9ap3aR1LsAVZ5nc
                      category:
                      - Transfer
                      - Payroll
                      category_id: "21009000"
                      description: Platypus Payroll
                      merchant_name: null
                      personal_finance_category:
                        detailed: INCOME_WAGES
                        primary: INCOME
                      first_date: 2022-02-28
                      last_date: 2022-04-30
                      frequency: SEMI_MONTHLY
                      transaction_ids:
                      - nkeaNrDGrhdo6c4qZWDA8ekuIPuJ4Avg5nKfw
                      - EfC5ekksdy30KuNzad2tQupW8WIPwvjXGbGHL
                      - ozfvj3FFgp6frbXKJGitsDzck5eWQH7zOJBYd
                      - QvdDE8AqVWo3bkBZ7WvCd7LskxVix8Q74iMoK
                      - uQozFPfMzibBouS9h9tz4CsyvFll17jKLdPAF
                      average_amount:
                        amount: -800
                        iso_currency_code: USD
                        unofficial_currency_code: null
                      last_amount:
                        amount: -1000
                        iso_currency_code: USD
                        unofficial_currency_code: null
                      is_active: true
                      status: MATURE
                    outflow_streams:
                    - account_id: lPNjeW1nR6CDn5okmGQ6hEpMo4lLNoSrzqDff
                      stream_id: no86Eox18VHMvaOVL7gPUM9ap3aR1LsAVZ5nd
                      category:
                      - Service
                      - Utilities
                      - Electric
                      category_id: "18068005"
                      description: ConEd Bill Payment
                      merchant_name: ConEd
                      personal_finance_category:
                        detailed: RENT_AND_UTILITIES_GAS_AND_ELECTRICITY
                        primary: RENT_AND_UTILITIES
                      first_date: 2022-02-04
                      last_date: 2022-05-02
                      frequency: MONTHLY
                      transaction_ids:
                      - yhnUVvtcGGcCKU0bcz8PDQr5ZUxUXebUvbKC0
                      - HPDnUVgI5Pa0YQSl0rxwYRwVXeLyJXTWDAvpR
                      - jEPoSfF8xzMClE9Ohj1he91QnvYoSdwg7IT8L
                      - CmdQTNgems8BT1B7ibkoUXVPyAeehT3Tmzk0l
                      average_amount:
                        amount: 85
                        iso_currency_code: USD
                        unofficial_currency_code: null
                      last_amount:
                        amount: 100
                        iso_currency_code: USD
                        unofficial_currency_code: null
                      is_active: true
                      status: MATURE
                    request_id: tbFyCEqkU775ZGG
              schema:
                $ref: '#/components/schemas/TransactionsRecurringGetResponse'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error response
      summary: Fetch recurring transaction streams
      tags:
      - plaid
  /transactions/recurring/deactivate: {}
  /transactions/sync:
    post:
      description: |-
        This endpoint replaces `/transactions/get` and its associated webhooks for most common use-cases.

        The `/transactions/sync` endpoint allows developers to subscribe to all transactions associated with an Item and get updates synchronously in a stream-like manner, using a cursor to track which updates have already been seen. `/transactions/sync` provides the same functionality as `/transactions/get` and can be used instead of `/transactions/get` to simplify the process of tracking transactions updates.

        This endpoint provides user-authorized transaction data for `credit`, `depository`, and some loan-type accounts (only those with account subtype `student`; coverage may be limited). For transaction history from `investments` accounts, use `/investments/transactions/get` instead.

        Returned transactions data is grouped into three types of update, indicating whether the transaction was added, removed, or modified since the last call to the API.

        In the first call to `/transactions/sync` for an Item, the endpoint will return all historical transactions data associated with that Item up until the time of the API call (as "adds"), which then generates a `latest_cursor` for that Item. In subsequent calls, send the `latest_cursor` to receive only the changes that have occurred since the previous call.

        Due to the potentially large number of transactions associated with an Item, results are paginated. The `has_more` field specifies if additional calls are necessary to fetch all available transaction updates.

        Whenever new or updated transaction data becomes available, `/transactions/sync` will provide these updates. Plaid typically checks for new data multiple times a day, but these checks may occur less frequently, such as once a day, depending on the institution. An Item's `status.transactions.last_successful_update` field will show the timestamp of the most recent successful update. To force Plaid to check for new transactions, use the `/transactions/refresh` endpoint.

        Note that for newly created Items, data may not be immediately available to `/transactions/sync`. Plaid begins preparing transactions data when the Item is created, but the process can take anywhere from a few seconds to several minutes to complete, depending on the number of transactions available.

        To be alerted when new data is available, listen for the [`SYNC_UPDATES_AVAILABLE`](https://plaid.com/docs/api/products/transactions/#sync_updates_available) webhook.
      externalDocs:
        url: /api/products/transactions/#transactionssync
      operationId: transactionsSync
      requestBody:
        content:
          application/json:
            examples: {}
            schema:
              $ref: '#/components/schemas/TransactionsSyncRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    added:
                    - account_id: BxBXxLj1m4HMXBm9WZZmCWVbPjX16EHwv99vp
                      amount: 2307.21
                      iso_currency_code: USD
                      unofficial_currency_code: null
                      category:
                      - Shops
                      - Computers and Electronics
                      category_id: "19013000"
                      check_number: null
                      date: 2022-02-03
                      datetime: 2022-02-03T11:00:00Z
                      authorized_date: 2022-02-03
                      authorized_datetime: 2022-02-03T10:34:50Z
                      location:
                        address: 300 Post St
                        city: San Francisco
                        region: CA
                        postal_code: "94108"
                        country: US
                        lat: 40.740352
                        lon: -74.001761
                        store_number: "1235"
                      name: Apple Store
                      merchant_name: Apple
                      payment_meta:
                        by_order_of: null
                        payee: null
                        payer: null
                        payment_method: null
                        payment_processor: null
                        ppd_id: null
                        reason: null
                        reference_number: null
                      payment_channel: in store
                      pending: false
                      pending_transaction_id: null
                      account_owner: null
                      transaction_id: lPNjeW1nR6CDn5okmGQ6hEpMo4lLNoSrzqDje
                      transaction_code: null
                    modified:
                    - account_id: BxBXxLj1m4HMXBm9WZZmCWVbPjX16EHwv99vp
                      amount: 98.05
                      iso_currency_code: USD
                      unofficial_currency_code: null
                      category:
                      - Service
                      - Utilities
                      - Electric
                      category_id: "18068005"
                      check_number: null
                      date: 2022-02-28
                      datetime: 2022-02-28T11:00:00Z
                      authorized_date: 2022-02-28
                      authorized_datetime: 2022-02-28T10:34:50Z
                      location:
                        address: null
                        city: null
                        region: null
                        postal_code: null
                        country: null
                        lat: null
                        lon: null
                        store_number: null
                      name: ConEd Bill Payment
                      merchant_name: ConEd
                      payment_meta:
                        by_order_of: null
                        payee: null
                        payer: null
                        payment_method: null
                        payment_processor: null
                        ppd_id: null
                        reason: null
                        reference_number: null
                      payment_channel: online
                      pending: false
                      pending_transaction_id: null
                      account_owner: null
                      transaction_id: yhnUVvtcGGcCKU0bcz8PDQr5ZUxUXebUvbKC0
                      transaction_code: null
                    removed:
                    - transaction_id: CmdQTNgems8BT1B7ibkoUXVPyAeehT3Tmzk0l
                    next_cursor: tVUUL15lYQN5rBnfDIc1I8xudpGdIlw9nsgeXWvhOfkECvUeR663i3Dt1uf/94S8ASkitgLcIiOSqNwzzp+bh89kirazha5vuZHBb2ZA5NtCDkkV
                    has_more: false
                    request_id: 45QSn
              schema:
                $ref: '#/components/schemas/TransactionsSyncResponse'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error response
      summary: Get incremental transaction updates on an Item
      tags:
      - plaid
  /institutions/get:
    post:
      description: |-
        Returns a JSON response containing details on all financial institutions currently supported by Plaid. Because Plaid supports thousands of institutions, results are paginated.

        If there is no overlap between an institution’s enabled products and a client’s enabled products, then the institution will be filtered out from the response. As a result, the number of institutions returned may not match the count specified in the call.
      externalDocs:
        url: /api/institutions/#institutionsget
      operationId: institutionsGet
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InstitutionsGetRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    institutions:
                    - country_codes:
                      - US
                      institution_id: ins_1
                      name: Bank of America
                      products:
                      - assets
                      - auth
                      - balance
                      - transactions
                      - identity
                      - liabilities
                      routing_numbers:
                      - "011000138"
                      - "011200365"
                      - "011400495"
                      oauth: false
                      status:
                        item_logins:
                          status: HEALTHY
                          last_status_change: 2019-02-15T15:53:00Z
                          breakdown:
                            success: 0.9
                            error_plaid: 0.01
                            error_institution: 0.09
                        transactions_updates:
                          status: HEALTHY
                          last_status_change: 2019-02-12T08:22:00Z
                          breakdown:
                            success: 0.95
                            error_plaid: 0.02
                            error_institution: 0.03
                            refresh_interval: NORMAL
                        auth:
                          status: HEALTHY
                          last_status_change: 2019-02-15T15:53:00Z
                          breakdown:
                            success: 0.91
                            error_plaid: 0.01
                            error_institution: 0.08
                        identity:
                          status: DEGRADED
                          last_status_change: 2019-02-15T15:50:00Z
                          breakdown:
                            success: 0.42
                            error_plaid: 0.08
                            error_institution: 0.5
                        investments:
                          status: HEALTHY
                          last_status_change: 2019-02-15T15:53:00Z
                          breakdown:
                            success: 0.89
                            error_plaid: 0.02
                            error_institution: 0.09
                          liabilities:
                            status: HEALTHY
                            last_status_change: 2019-02-15T15:53:00Z
                            breakdown:
                              success: 0.89
                              error_plaid: 0.02
                              error_institution: 0.09
                        investments_updates:
                          status: HEALTHY
                          last_status_change: 2019-02-12T08:22:00Z
                          breakdown:
                            success: 0.95
                            error_plaid: 0.02
                            error_institution: 0.03
                            refresh_interval: NORMAL
                        liabilities_updates:
                          status: HEALTHY
                          last_status_change: 2019-02-12T08:22:00Z
                          breakdown:
                            success: 0.95
                            error_plaid: 0.02
                            error_institution: 0.03
                            refresh_interval: NORMAL
                    request_id: tbFyCEqkU774ZGG
                    total: 11384
              schema:
                $ref: '#/components/schemas/InstitutionsGetResponse'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error response
      summary: Get details of all supported institutions
      tags:
      - plaid
  /institutions/search:
    post:
      description: |
        Returns a JSON response containing details for institutions that match the query parameters, up to a maximum of ten institutions per query.

        Versioning note: API versions 2019-05-29 and earlier allow use of the `public_key` parameter instead of the `client_id` and `secret` parameters to authenticate to this endpoint. The `public_key` parameter has since been deprecated; all customers are encouraged to use `client_id` and `secret` instead.
      externalDocs:
        url: /api/institutions/#institutionssearch
      operationId: institutionsSearch
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InstitutionsSearchRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    institutions:
                    - country_codes:
                      - US
                      institution_id: ins_118923
                      name: Red Platypus Bank - Red Platypus Bank
                      products:
                      - assets
                      - auth
                      - balance
                      - transactions
                      - identity
                      routing_numbers:
                      - "011000138"
                      - "011200365"
                      - "011400495"
                      oauth: false
                      status:
                        item_logins:
                          status: HEALTHY
                          last_status_change: 2019-02-15T15:53:00Z
                          breakdown:
                            success: 0.9
                            error_plaid: 0.01
                            error_institution: 0.09
                        transactions_updates:
                          status: HEALTHY
                          last_status_change: 2019-02-12T08:22:00Z
                          breakdown:
                            success: 0.95
                            error_plaid: 0.02
                            error_institution: 0.03
                            refresh_interval: NORMAL
                        auth:
                          status: HEALTHY
                          last_status_change: 2019-02-15T15:53:00Z
                          breakdown:
                            success: 0.91
                            error_plaid: 0.01
                            error_institution: 0.08
                        identity:
                          status: DEGRADED
                          last_status_change: 2019-02-15T15:50:00Z
                          breakdown:
                            success: 0.42
                            error_plaid: 0.08
                            error_institution: 0.5
                        investments:
                          status: HEALTHY
                          last_status_change: 2019-02-15T15:53:00Z
                          breakdown:
                            success: 0.89
                            error_plaid: 0.02
                            error_institution: 0.09
                          liabilities:
                            status: HEALTHY
                            last_status_change: 2019-02-15T15:53:00Z
                            breakdown:
                              success: 0.89
                              error_plaid: 0.02
                              error_institution: 0.09
                        investments_updates:
                          status: HEALTHY
                          last_status_change: 2019-02-12T08:22:00Z
                          breakdown:
                            success: 0.95
                            error_plaid: 0.02
                            error_institution: 0.03
                            refresh_interval: NORMAL
                        liabilities_updates:
                          status: HEALTHY
                          last_status_change: 2019-02-12T08:22:00Z
                          breakdown:
                            success: 0.95
                            error_plaid: 0.02
                            error_institution: 0.03
                            refresh_interval: NORMAL
                    request_id: Ggmk0enW4smO2Tp
              schema:
                $ref: '#/components/schemas/InstitutionsSearchResponse'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error response
      summary: Search institutions
      tags:
      - plaid
  /institutions/get_by_id:
    post:
      description: |
        Returns a JSON response containing details on a specified financial institution currently supported by Plaid.

        Versioning note: API versions 2019-05-29 and earlier allow use of the `public_key` parameter instead of the `client_id` and `secret` to authenticate to this endpoint. The `public_key` has been deprecated; all customers are encouraged to use `client_id` and `secret` instead.
      externalDocs:
        url: /api/institutions/#institutionsget_by_id
      operationId: institutionsGetById
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InstitutionsGetByIdRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    institution:
                      country_codes:
                      - US
                      institution_id: ins_109512
                      name: Houndstooth Bank
                      products:
                      - auth
                      - balance
                      - identity
                      - transactions
                      routing_numbers:
                      - "011000138"
                      - "011200365"
                      - "011400495"
                      oauth: false
                      status:
                        item_logins:
                          status: HEALTHY
                          last_status_change: 2019-02-15T15:53:00Z
                          breakdown:
                            success: 0.9
                            error_plaid: 0.01
                            error_institution: 0.09
                        transactions_updates:
                          status: HEALTHY
                          last_status_change: 2019-02-12T08:22:00Z
                          breakdown:
                            success: 0.95
                            error_plaid: 0.02
                            error_institution: 0.03
                            refresh_interval: NORMAL
                        auth:
                          status: HEALTHY
                          last_status_change: 2019-02-15T15:53:00Z
                          breakdown:
                            success: 0.91
                            error_plaid: 0.01
                            error_institution: 0.08
                        identity:
                          status: DEGRADED
                          last_status_change: 2019-02-15T15:50:00Z
                          breakdown:
                            success: 0.42
                            error_plaid: 0.08
                            error_institution: 0.5
                        investments:
                          status: HEALTHY
                          last_status_change: 2019-02-15T15:53:00Z
                          breakdown:
                            success: 0.89
                            error_plaid: 0.02
                            error_institution: 0.09
                          liabilities:
                            status: HEALTHY
                            last_status_change: 2019-02-15T15:53:00Z
                            breakdown:
                              success: 0.89
                              error_plaid: 0.02
                              error_institution: 0.09
                        investments_updates:
                          status: HEALTHY
                          last_status_change: 2019-02-12T08:22:00Z
                          breakdown:
                            success: 0.95
                            error_plaid: 0.02
                            error_institution: 0.03
                            refresh_interval: NORMAL
                        liabilities_updates:
                          status: HEALTHY
                          last_status_change: 2019-02-12T08:22:00Z
                          breakdown:
                            success: 0.95
                            error_plaid: 0.02
                            error_institution: 0.03
                            refresh_interval: NORMAL
                      primary_color: '#004966'
                      url: https://plaid.com
                      logo: null
                    request_id: m8MDnv9okwxFNBV
              schema:
                $ref: '#/components/schemas/InstitutionsGetByIdResponse'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error response
      summary: Get details of an institution
      tags:
      - plaid
  /item/remove:
    post:
      description: |-
        The `/item/remove` endpoint allows you to remove an Item. Once removed, the `access_token`, as well as any processor tokens or bank account tokens associated with the Item, is no longer valid and cannot be used to access any data that was associated with the Item.

        Note that in the Development environment, issuing an `/item/remove`  request will not decrement your live credential count. To increase your credential account in Development, contact Support.

        Also note that for certain OAuth-based institutions, an Item removed via `/item/remove` may still show as an active connection in the institution's OAuth permission manager.

        API versions 2019-05-29 and earlier return a `removed` boolean as part of the response.
      externalDocs:
        url: /api/items/#itemremove
      operationId: itemRemove
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ItemRemoveRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    request_id: m8MDnv9okwxFNBV
              schema:
                $ref: '#/components/schemas/ItemRemoveResponse'
          description: success
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error response.
      summary: Remove an Item
      tags:
      - plaid
  /accounts/get:
    post:
      description: |-
        The `/accounts/get` endpoint can be used to retrieve a list of accounts associated with any linked Item. Plaid will only return active bank accounts — that is, accounts that are not closed and are capable of carrying a balance.
        For items that went through the updated account selection pane, this endpoint only returns accounts that were permissioned by the user when they initially created the Item. If a user creates a new account after the initial link, you can capture this event through the [`NEW_ACCOUNTS_AVAILABLE`](https://plaid.com/docs/api/items/#new_accounts_available) webhook and then use Link's [update mode](https://plaid.com/docs/link/update-mode/) to request that the user share this new account with you.

        This endpoint retrieves cached information, rather than extracting fresh information from the institution. As a result, balances returned may not be up-to-date; for realtime balance information, use `/accounts/balance/get` instead. Note that some information is nullable.
      externalDocs:
        url: /api/accounts/#accountsget
      operationId: accountsGet
      requestBody:
        content:
          application/json:
            examples:
              example-1:
                value:
                  client_id: string
                  secret: string
                  access_token: string
                  options:
                    account_ids:
                    - string
            schema:
              $ref: '#/components/schemas/AccountsGetRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    accounts:
                    - account_id: blgvvBlXw3cq5GMPwqB6s6q4dLKB9WcVqGDGo
                      balances:
                        available: 100
                        current: 110
                        iso_currency_code: USD
                        limit: null
                        unofficial_currency_code: null
                      mask: "0000"
                      name: Plaid Checking
                      official_name: Plaid Gold Standard 0% Interest Checking
                      subtype: checking
                      type: depository
                    - account_id: 6PdjjRP6LmugpBy5NgQvUqpRXMWxzktg3rwrk
                      balances:
                        available: null
                        current: 23631.9805
                        iso_currency_code: USD
                        limit: null
                        unofficial_currency_code: null
                      mask: "6666"
                      name: Plaid 401k
                      official_name: null
                      subtype: 401k
                      type: investment
                    - account_id: XMBvvyMGQ1UoLbKByoMqH3nXMj84ALSdE5B58
                      balances:
                        available: null
                        current: 65262
                        iso_currency_code: USD
                        limit: null
                        unofficial_currency_code: null
                      mask: "7777"
                      name: Plaid Student Loan
                      official_name: null
                      subtype: student
                      type: loan
                    item:
                      available_products:
                      - balance
                      - identity
                      - payment_initiation
                      - transactions
                      billed_products:
                      - assets
                      - auth
                      consent_expiration_time: null
                      error: null
                      institution_id: ins_117650
                      item_id: DWVAAPWq4RHGlEaNyGKRTAnPLaEmo8Cvq7na6
                      update_type: background
                      webhook: https://www.genericwebhookurl.com/webhook
                    request_id: bkVE1BHWMAZ9Rnr
              schema:
                $ref: '#/components/schemas/AccountsGetResponse'
          description: success
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error response.
      summary: Retrieve accounts
      tags:
      - plaid
  /categories/get:
    post:
      description: Send a request to the `/categories/get` endpoint to get detailed
        information on categories returned by Plaid. This endpoint does not require
        authentication.
      externalDocs:
        url: /api/products/transactions/#categoriesget
      operationId: categoriesGet
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CategoriesGetRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    categories:
                    - category_id: "10000000"
                      group: special
                      hierarchy:
                      - Bank Fees
                    - category_id: "10001000"
                      group: special
                      hierarchy:
                      - Bank Fees
                      - Overdraft
                    - category_id: "12001000"
                      group: place
                      hierarchy:
                      - Community
                      - Animal Shelter
                    request_id: ixTBLZGvhD4NnmB
              schema:
                $ref: '#/components/schemas/CategoriesGetResponse'
          description: success
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error response.
      security: []
      summary: Get Categories
      tags:
      - plaid
  /sandbox/processor_token/create:
    post:
      description: Use the `/sandbox/processor_token/create` endpoint to create a
        valid `processor_token` for an arbitrary institution ID and test credentials.
        The created `processor_token` corresponds to a new Sandbox Item. You can then
        use this `processor_token` with the `/processor/` API endpoints in Sandbox.
        You can also use `/sandbox/processor_token/create` with the [`user_custom`
        test username](https://plaid.com/docs/sandbox/user-custom) to generate a test
        account with custom data.
      externalDocs:
        url: /api/sandbox/#sandboxprocessor_tokencreate
      operationId: sandboxProcessorTokenCreate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SandboxProcessorTokenCreateRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    processor_token: processor-sandbox-b0e2c4ee-a763-4df5-bfe9-46a46bce993d
                    request_id: Aim3b
              schema:
                $ref: '#/components/schemas/SandboxProcessorTokenCreateResponse'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error response.
      summary: Create a test Item and processor token
      tags:
      - plaid
  /sandbox/public_token/create:
    post:
      description: Use the `/sandbox/public_token/create` endpoint to create a valid
        `public_token`  for an arbitrary institution ID, initial products, and test
        credentials. The created `public_token` maps to a new Sandbox Item. You can
        then call `/item/public_token/exchange` to exchange the `public_token` for
        an `access_token` and perform all API actions. `/sandbox/public_token/create`
        can also be used with the [`user_custom` test username](https://plaid.com/docs/sandbox/user-custom)
        to generate a test account with custom data. `/sandbox/public_token/create`
        cannot be used with OAuth institutions.
      externalDocs:
        url: /api/sandbox/#sandboxpublic_tokencreate
      operationId: sandboxPublicTokenCreate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SandboxPublicTokenCreateRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    public_token: public-sandbox-b0e2c4ee-a763-4df5-bfe9-46a46bce993d
                    request_id: Aim3b
              schema:
                $ref: '#/components/schemas/SandboxPublicTokenCreateResponse'
          description: success
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error response.
      summary: Create a test Item
      tags:
      - plaid
  /sandbox/item/fire_webhook:
    post:
      description: |-
        The `/sandbox/item/fire_webhook` endpoint is used to test that code correctly handles webhooks. This endpoint can trigger the following webhooks:

        `DEFAULT_UPDATE`: Transactions update webhook to be fired for a given Sandbox Item. If the Item does not support Transactions, a `SANDBOX_PRODUCT_NOT_ENABLED` error will result.

        `NEW_ACCOUNTS_AVAILABLE`: Webhook to be fired for a given Sandbox Item created with Account Select v2.

        `AUTH_DATA_UPDATE`: Webhook to be fired for a given Sandbox Item created with Auth as an enabled product.

        Note that this endpoint is provided for developer ease-of-use and is not required for testing webhooks; webhooks will also fire in Sandbox under the same conditions that they would in Production or Development'
      externalDocs:
        url: /api/sandbox/#sandboxitemfire_webhook
      operationId: sandboxItemFireWebhook
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SandboxItemFireWebhookRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    webhook_fired: true
                    request_id: 1vwmF5TBQwiqfwP
              schema:
                $ref: '#/components/schemas/SandboxItemFireWebhookResponse'
          description: success
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error response.
      summary: Fire a test webhook
      tags:
      - plaid
  /accounts/balance/get:
    post:
      description: The `/accounts/balance/get` endpoint returns the real-time balance
        for each of an Item's accounts. While other endpoints may return a balance
        object, only `/accounts/balance/get` forces the available and current balance
        fields to be refreshed rather than cached. This endpoint can be used for existing
        Items that were added via any of Plaid’s other products. This endpoint can
        be used as long as Link has been initialized with any other product, `balance`
        itself is not a product that can be used to initialize Link.
      externalDocs:
        url: /api/products/balance/#accountsbalanceget
      operationId: accountsBalanceGet
      requestBody:
        content:
          application/json:
            examples:
              example-1:
                value:
                  access_token: string
                  secret: string
                  client_id: string
                  options:
                    account_ids:
                    - string
            schema:
              $ref: '#/components/schemas/AccountsBalanceGetRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    accounts:
                    - account_id: BxBXxLj1m4HMXBm9WZZmCWVbPjX16EHwv99vp
                      balances:
                        available: 100
                        current: 110
                        iso_currency_code: USD
                        limit: null
                        unofficial_currency_code: null
                      mask: "0000"
                      name: Plaid Checking
                      official_name: Plaid Gold Standard 0% Interest Checking
                      subtype: checking
                      type: depository
                    - account_id: dVzbVMLjrxTnLjX4G66XUp5GLklm4oiZy88yK
                      balances:
                        available: null
                        current: 410
                        iso_currency_code: USD
                        limit: 2000
                        unofficial_currency_code: null
                      mask: "3333"
                      name: Plaid Credit Card
                      official_name: Plaid Diamond 12.5% APR Interest Credit Card
                      subtype: credit card
                      type: credit
                    - account_id: Pp1Vpkl9w8sajvK6oEEKtr7vZxBnGpf7LxxLE
                      balances:
                        available: null
                        current: 65262
                        iso_currency_code: USD
                        limit: null
                        unofficial_currency_code: null
                      mask: "7777"
                      name: Plaid Student Loan
                      official_name: null
                      subtype: student
                      type: loan
                    item:
                      available_products:
                      - balance
                      - identity
                      - investments
                      billed_products:
                      - assets
                      - auth
                      - liabilities
                      - transactions
                      consent_expiration_time: null
                      error: null
                      institution_id: ins_3
                      item_id: eVBnVMp7zdTJLkRNr33Rs6zr7KNJqBFL9DrE6
                      update_type: background
                      webhook: https://www.genericwebhookurl.com/webhook
                    request_id: qk5Bxes3gDfv4F2
              schema:
                $ref: '#/components/schemas/AccountsGetResponse'
          description: OK
      summary: Retrieve real-time balance data
      tags:
      - plaid
  /identity/get:
    post:
      description: |-
        The `/identity/get` endpoint allows you to retrieve various account holder information on file with the financial institution, including names, emails, phone numbers, and addresses. Only name data is guaranteed to be returned; other fields will be empty arrays if not provided by the institution.

        This request may take some time to complete if identity was not specified as an initial product when creating the Item. This is because Plaid must communicate directly with the institution to retrieve the data.

        Note: In API versions 2018-05-22 and earlier, the `owners` object is not returned, and instead identity information is returned in the top level `identity` object. For more details, see [Plaid API versioning](https://plaid.com/docs/api/versioning/#version-2019-05-29).
      externalDocs:
        url: /api/products/identity/#identityget
      operationId: identityGet
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IdentityGetRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    accounts:
                    - account_id: BxBXxLj1m4HMXBm9WZZmCWVbPjX16EHwv99vp
                      balances:
                        available: 100
                        current: 110
                        iso_currency_code: USD
                        limit: null
                        unofficial_currency_code: null
                      mask: "0000"
                      name: Plaid Checking
                      official_name: Plaid Gold Standard 0% Interest Checking
                      owners:
                      - addresses:
                        - data:
                            city: Malakoff
                            country: US
                            postal_code: "14236"
                            region: NY
                            street: 2992 Cameron Road
                          primary: true
                        - data:
                            city: San Matias
                            country: US
                            postal_code: 93405-2255
                            region: CA
                            street: 2493 Leisure Lane
                          primary: false
                        emails:
                        - data: accountholder0@example.com
                          primary: true
                          type: primary
                        - data: accountholder1@example.com
                          primary: false
                          type: secondary
                        - data: extraordinarily.long.email.username.123456@reallylonghostname.com
                          primary: false
                          type: other
                        names:
                        - Alberta Bobbeth Charleson
                        phone_numbers:
                        - data: "1112223333"
                          primary: false
                          type: home
                        - data: "1112224444"
                          primary: false
                          type: work
                        - data: "1112225555"
                          primary: false
                          type: mobile
                      subtype: checking
                      type: depository
                    - account_id: 3gE5gnRzNyfXpBK5wEEKcymJ5albGVUqg77gr
                      balances:
                        available: 200
                        current: 210
                        iso_currency_code: USD
                        limit: null
                        unofficial_currency_code: null
                      mask: "1111"
                      name: Plaid Saving
                      official_name: Plaid Silver Standard 0.1% Interest Saving
                      owners:
                      - addresses:
                        - data:
                            city: Malakoff
                            country: US
                            postal_code: "14236"
                            region: NY
                            street: 2992 Cameron Road
                          primary: true
                        - data:
                            city: San Matias
                            country: US
                            postal_code: 93405-2255
                            region: CA
                            street: 2493 Leisure Lane
                          primary: false
                        emails:
                        - data: accountholder0@example.com
                          primary: true
                          type: primary
                        - data: accountholder1@example.com
                          primary: false
                          type: secondary
                        - data: extraordinarily.long.email.username.123456@reallylonghostname.com
                          primary: false
                          type: other
                        names:
                        - Alberta Bobbeth Charleson
                        phone_numbers:
                        - data: "1112223333"
                          primary: false
                          type: home
                        - data: "1112224444"
                          primary: false
                          type: work
                        - data: "1112225555"
                          primary: false
                          type: mobile
                      subtype: savings
                      type: depository
                    item:
                      available_products:
                      - balance
                      - investments
                      billed_products:
                      - assets
                      - auth
                      - identity
                      - liabilities
                      - transactions
                      consent_expiration_time: null
                      error: null
                      institution_id: ins_3
                      item_id: eVBnVMp7zdTJLkRNr33Rs6zr7KNJqBFL9DrE6
                      update_type: background
                      webhook: https://www.genericwebhookurl.com/webhook
                    request_id: 3nARps6TOYtbACO
              schema:
                $ref: '#/components/schemas/IdentityGetResponse'
          description: OK
      summary: Retrieve identity data
      tags:
      - plaid
  /dashboard_user/get:
    post:
      description: Retrieve information about a dashboard user.
      externalDocs:
        url: /api/products/monitor/dashboard_userget
      operationId: dashobardUserGet
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetDashboardUserRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    id: usr_1SUuwqBdK75GKi
                    created_at: 2020-07-24T03:26:02Z
                    email_address: user@example.com
                    status: active
              schema:
                $ref: '#/components/schemas/DashboardUser'
          description: OK
      summary: Retrieve a dashboard user
      tags:
      - plaid
  /dashboard_user/list:
    post:
      description: List all dashboard users associated with your account.
      externalDocs:
        url: /api/products/monitor/#dashboard_userlist
      operationId: dashboardUserList
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListDashboardUserRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    dashboard_users:
                    - id: usr_1SUuwqBdK75GKi
                      created_at: 2020-07-24T03:26:02Z
                      email_address: user@example.com
                      status: active
                    next_cursor: eyJkaXJlY3Rpb24iOiJuZXh0Iiwib2Zmc2V0IjoiMTU5NDM
                    request_id: saKrIBuEB9qJZng
              schema:
                $ref: '#/components/schemas/PaginatedDashboardUserList'
          description: OK
      summary: List dashboard users
      tags:
      - plaid
  /identity_verification/create:
    post:
      description: |
        Create a new Identity Verification for the user specified by the `client_user_id` field. The requirements and behavior of the verification are determined by the `template_id` provided.
        If you don't know whether the associated user already has an active Identity Verification, you can specify `"is_idempotent": true` in the request body. With idempotency enabled, a new Identity Verification will only be created if one does not already exist for the associated `client_user_id` and `template_id`. If an Identity Verification is found, it will be returned unmodified with an `200 OK` HTTP status code.
      externalDocs:
        url: /api/products/identity-verification/identity_verificationcreate
      operationId: identityVerificationCreate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IdentityVerificationCreateRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    id: idver_52xR9LKo77r1Np
                    client_user_id: your-db-id-3b24110
                    created_at: 2020-07-24T03:26:02Z
                    completed_at: 2020-07-24T03:26:02Z
                    previous_attempt_id: idver_42cF1MNo42r9Xj
                    shareable_url: https://flow.plaid.com/verify/idver_4FrXJvfQU3zGUR?key=e004115db797f7cc3083bff3167cba30644ef630fb46f5b086cde6cc3b86a36f
                    template:
                      id: idvtmp_4FrXJvfQU3zGUR
                      version: 2
                    user:
                      phone_number: +19876543212
                      date_of_birth: 1990-05-29
                      ip_address: 192.0.2.42
                      email_address: user@example.com
                      name:
                        given_name: Leslie
                        family_name: Knope
                      address:
                        street: 123 Main St.
                        street2: Unit 42
                        city: Pawnee
                        region: IN
                        postal_code: "46001"
                        country: US
                      id_number:
                        value: "123456789"
                        type: us_ssn
                    status: success
                    steps:
                      accept_tos: success
                      verify_sms: success
                      kyc_check: success
                      documentary_verification: success
                      selfie_check: success
                      watchlist_screening: success
                      risk_check: success
                    documentary_verification:
                      status: success
                      documents:
                      - status: success
                        attempt: 1
                        images:
                          original_front: https://example.plaid.com/verifications/idver_52xR9LKo77r1Np/documents/1/original_front.jpeg
                          original_back: https://example.plaid.com/verifications/idver_52xR9LKo77r1Np/documents/1/original_back.jpeg
                          cropped_front: https://example.plaid.com/verifications/idver_52xR9LKo77r1Np/documents/1/cropped_front.jpeg
                          cropped_back: https://example.plaid.com/verifications/idver_52xR9LKo77r1Np/documents/1/cropped_back.jpeg
                          face: https://example.plaid.com/verifications/idver_52xR9LKo77r1Np/documents/1/face.jpeg
                        extracted_data:
                          id_number: AB123456
                          category: drivers_license
                          expiration_date: 1990-05-29
                          issuing_country: US
                        analysis:
                          authenticity: match
                          image_quality: high
                          extracted_data:
                            name: match
                            date_of_birth: match
                            expiration_date: not_expired
                            issuing_country: match
                    kyc_check:
                      status: success
                      address:
                        summary: match
                        po_box: "yes"
                        type: residential
                      name:
                        summary: match
                      date_of_birth:
                        summary: match
                      id_number:
                        summary: match
                      phone_number:
                        summary: match
                    watchlist_screening_id: scr_52xR9LKo77r1Np
                    request_id: saKrIBuEB9qJZng
              schema:
                $ref: '#/components/schemas/IdentityVerification'
          description: OK
      summary: Create a new identity verification
      tags:
      - plaid
  /identity_verification/get:
    post:
      description: Retrieve a previously created identity verification
      externalDocs:
        url: /api/products/identity-verification/identity_verificationget
      operationId: identityVerificationGet
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetIdentityVerificationRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    id: idver_52xR9LKo77r1Np
                    client_user_id: your-db-id-3b24110
                    created_at: 2020-07-24T03:26:02Z
                    completed_at: 2020-07-24T03:26:02Z
                    previous_attempt_id: idver_42cF1MNo42r9Xj
                    shareable_url: https://flow.plaid.com/verify/idver_4FrXJvfQU3zGUR?key=e004115db797f7cc3083bff3167cba30644ef630fb46f5b086cde6cc3b86a36f
                    template:
                      id: idvtmp_4FrXJvfQU3zGUR
                      version: 2
                    user:
                      phone_number: +19876543212
                      date_of_birth: 1990-05-29
                      ip_address: 192.0.2.42
                      email_address: user@example.com
                      name:
                        given_name: Leslie
                        family_name: Knope
                      address:
                        street: 123 Main St.
                        street2: Unit 42
                        city: Pawnee
                        region: IN
                        postal_code: "46001"
                        country: US
                      id_number:
                        value: "123456789"
                        type: us_ssn
                    status: success
                    steps:
                      accept_tos: success
                      verify_sms: success
                      kyc_check: success
                      documentary_verification: success
                      selfie_check: success
                      watchlist_screening: success
                      risk_check: success
                    documentary_verification:
                      status: success
                      documents:
                      - status: success
                        attempt: 1
                        images:
                          original_front: https://example.plaid.com/verifications/idver_52xR9LKo77r1Np/documents/1/original_front.jpeg
                          original_back: https://example.plaid.com/verifications/idver_52xR9LKo77r1Np/documents/1/original_back.jpeg
                          cropped_front: https://example.plaid.com/verifications/idver_52xR9LKo77r1Np/documents/1/cropped_front.jpeg
                          cropped_back: https://example.plaid.com/verifications/idver_52xR9LKo77r1Np/documents/1/cropped_back.jpeg
                          face: https://example.plaid.com/verifications/idver_52xR9LKo77r1Np/documents/1/face.jpeg
                        extracted_data:
                          id_number: AB123456
                          category: drivers_license
                          expiration_date: 1990-05-29
                          issuing_country: US
                        analysis:
                          authenticity: match
                          image_quality: high
                          extracted_data:
                            name: match
                            date_of_birth: match
                            expiration_date: not_expired
                            issuing_country: match
                    kyc_check:
                      status: success
                      address:
                        summary: match
                        po_box: "yes"
                        type: residential
                      name:
                        summary: match
                      date_of_birth:
                        summary: match
                      id_number:
                        summary: match
                      phone_number:
                        summary: match
                    watchlist_screening_id: scr_52xR9LKo77r1Np
                    request_id: saKrIBuEB9qJZng
              schema:
                $ref: '#/components/schemas/IdentityVerification'
          description: OK
      summary: Retrieve Identity Verification
      tags:
      - plaid
  /identity_verification/list:
    post:
      description: Filter and list Identity Verifications created by your account
      externalDocs:
        url: /api/products/monitor/dashboard_userget
      operationId: identityVerificationList
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListIdentityVerificationRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    identity_verifications:
                    - id: idver_52xR9LKo77r1Np
                      client_user_id: your-db-id-3b24110
                      created_at: 2020-07-24T03:26:02Z
                      completed_at: 2020-07-24T03:26:02Z
                      previous_attempt_id: idver_42cF1MNo42r9Xj
                      shareable_url: https://flow.plaid.com/verify/idver_4FrXJvfQU3zGUR?key=e004115db797f7cc3083bff3167cba30644ef630fb46f5b086cde6cc3b86a36f
                      template:
                        id: idvtmp_4FrXJvfQU3zGUR
                        version: 2
                      user:
                        phone_number: +19876543212
                        date_of_birth: 1990-05-29
                        ip_address: 192.0.2.42
                        email_address: user@example.com
                        name:
                          given_name: Leslie
                          family_name: Knope
                        address:
                          street: 123 Main St.
                          street2: Unit 42
                          city: Pawnee
                          region: IN
                          postal_code: "46001"
                          country: US
                        id_number:
                          value: "123456789"
                          type: us_ssn
                      status: success
                      steps:
                        accept_tos: success
                        verify_sms: success
                        kyc_check: success
                        documentary_verification: success
                        selfie_check: success
                        watchlist_screening: success
                        risk_check: success
                      documentary_verification:
                        status: success
                        documents:
                        - status: success
                          attempt: 1
                          images:
                            original_front: https://example.plaid.com/verifications/idver_52xR9LKo77r1Np/documents/1/original_front.jpeg
                            original_back: https://example.plaid.com/verifications/idver_52xR9LKo77r1Np/documents/1/original_back.jpeg
                            cropped_front: https://example.plaid.com/verifications/idver_52xR9LKo77r1Np/documents/1/cropped_front.jpeg
                            cropped_back: https://example.plaid.com/verifications/idver_52xR9LKo77r1Np/documents/1/cropped_back.jpeg
                            face: https://example.plaid.com/verifications/idver_52xR9LKo77r1Np/documents/1/face.jpeg
                          extracted_data:
                            id_number: AB123456
                            category: drivers_license
                            expiration_date: 1990-05-29
                            issuing_country: US
                          analysis:
                            authenticity: match
                            image_quality: high
                            extracted_data:
                              name: match
                              date_of_birth: match
                              expiration_date: not_expired
                              issuing_country: match
                      kyc_check:
                        status: success
                        address:
                          summary: match
                          po_box: "yes"
                          type: residential
                        name:
                          summary: match
                        date_of_birth:
                          summary: match
                        id_number:
                          summary: match
                        phone_number:
                          summary: match
                      watchlist_screening_id: scr_52xR9LKo77r1Np
                      request_id: saKrIBuEB9qJZng
                    next_cursor: eyJkaXJlY3Rpb24iOiJuZXh0Iiwib2Zmc2V0IjoiMTU5NDM
                    request_id: saKrIBuEB9qJZng
              schema:
                $ref: '#/components/schemas/PaginatedIdentityVerificationPaginatedList'
          description: OK
      summary: List Identity Verifications
      tags:
      - plaid
  /identity_verification/retry:
    post:
      description: Allow a customer to retry their identity verification
      externalDocs:
        url: /api/products/identity-verification/identity_verificationretry
      operationId: identityVerificationRetry
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IdentityVerificationRetryRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    id: idver_52xR9LKo77r1Np
                    client_user_id: your-db-id-3b24110
                    created_at: 2020-07-24T03:26:02Z
                    completed_at: 2020-07-24T03:26:02Z
                    previous_attempt_id: idver_42cF1MNo42r9Xj
                    shareable_url: https://flow.plaid.com/verify/idver_4FrXJvfQU3zGUR?key=e004115db797f7cc3083bff3167cba30644ef630fb46f5b086cde6cc3b86a36f
                    template:
                      id: idvtmp_4FrXJvfQU3zGUR
                      version: 2
                    user:
                      phone_number: +19876543212
                      date_of_birth: 1990-05-29
                      ip_address: 192.0.2.42
                      email_address: user@example.com
                      name:
                        given_name: Leslie
                        family_name: Knope
                      address:
                        street: 123 Main St.
                        street2: Unit 42
                        city: Pawnee
                        region: IN
                        postal_code: "46001"
                        country: US
                      id_number:
                        value: "123456789"
                        type: us_ssn
                    status: success
                    steps:
                      accept_tos: success
                      verify_sms: success
                      kyc_check: success
                      documentary_verification: success
                      selfie_check: success
                      watchlist_screening: success
                      risk_check: success
                    documentary_verification:
                      status: success
                      documents:
                      - status: success
                        attempt: 1
                        images:
                          original_front: https://example.plaid.com/verifications/idver_52xR9LKo77r1Np/documents/1/original_front.jpeg
                          original_back: https://example.plaid.com/verifications/idver_52xR9LKo77r1Np/documents/1/original_back.jpeg
                          cropped_front: https://example.plaid.com/verifications/idver_52xR9LKo77r1Np/documents/1/cropped_front.jpeg
                          cropped_back: https://example.plaid.com/verifications/idver_52xR9LKo77r1Np/documents/1/cropped_back.jpeg
                          face: https://example.plaid.com/verifications/idver_52xR9LKo77r1Np/documents/1/face.jpeg
                        extracted_data:
                          id_number: AB123456
                          category: drivers_license
                          expiration_date: 1990-05-29
                          issuing_country: US
                        analysis:
                          authenticity: match
                          image_quality: high
                          extracted_data:
                            name: match
                            date_of_birth: match
                            expiration_date: not_expired
                            issuing_country: match
                    kyc_check:
                      status: success
                      address:
                        summary: match
                        po_box: "yes"
                        type: residential
                      name:
                        summary: match
                      date_of_birth:
                        summary: match
                      id_number:
                        summary: match
                      phone_number:
                        summary: match
                    watchlist_screening_id: scr_52xR9LKo77r1Np
                    request_id: saKrIBuEB9qJZng
              schema:
                $ref: '#/components/schemas/IdentityVerification'
          description: OK
      summary: Retry an Identity Verification
      tags:
      - plaid
  /watchlist_screening/entity/create:
    post:
      description: Create a new entity watchlist screening to check your customer
        against watchlists defined in the associated entity watchlist program. If
        your associated program has ongoing screening enabled, this is the profile
        information that will be used to monitor your customer over time.
      externalDocs:
        url: /api/products/monitor/#watchlist_screeningentitycreate
      operationId: watchlistScreeningEntityCreate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateEntityScreeningRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    id: entscr_52xR9LKo77r1Np
                    search_terms:
                      entity_watchlist_program_id: entprg_2eRPsDnL66rZ7H
                      legal_name: Al-Qaida
                      document_number: C31195855
                      email_address: user@example.com
                      country: US
                      phone_number: +14025671234
                      url: https://example.com
                      version: 1
                    assignee: usr_1SUuwqBdK75GKi
                    status: cleared
                    client_user_id: your-db-id-3b24110
                    audit_trail:
                      source: dashboard
                      dashboard_user_id: usr_1SUuwqBdK75GKi
                      timestamp: 2020-07-24T03:26:02Z
              schema:
                $ref: '#/components/schemas/EntityWatchlistScreening'
          description: OK
      summary: Create a watchlist screening for an entity
      tags:
      - plaid
  /watchlist_screening/entity/get:
    post:
      description: Retrieve an entity watchlist screening.
      externalDocs:
        url: /api/products/monitor/#watchlist_screeningentityget
      operationId: watchlistScreeningEntityGet
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetEntityWatchlistScreeningRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    id: entscr_52xR9LKo77r1Np
                    search_terms:
                      entity_watchlist_program_id: entprg_2eRPsDnL66rZ7H
                      legal_name: Al-Qaida
                      document_number: C31195855
                      email_address: user@example.com
                      country: US
                      phone_number: +14025671234
                      url: https://example.com
                      version: 1
                    assignee: usr_1SUuwqBdK75GKi
                    status: cleared
                    client_user_id: your-db-id-3b24110
                    audit_trail:
                      source: dashboard
                      dashboard_user_id: usr_1SUuwqBdK75GKi
                      timestamp: 2020-07-24T03:26:02Z
              schema:
                $ref: '#/components/schemas/EntityWatchlistScreening'
          description: OK
      summary: Get an entity screening
      tags:
      - plaid
  /watchlist_screening/entity/history/list:
    post:
      description: List all changes to the entity watchlist screening in reverse-chronological
        order. If the watchlist screening has not been edited, no history will be
        returned.
      externalDocs:
        url: /api/products/monitor/#watchlist_screeningentityhistorylist
      operationId: watchlistScreeningEntityHistoryList
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListWatchlistScreeningEntityHistoryRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    entity_watchlist_screenings:
                    - id: entscr_52xR9LKo77r1Np
                      search_terms:
                        entity_watchlist_program_id: entprg_2eRPsDnL66rZ7H
                        legal_name: Al-Qaida
                        document_number: C31195855
                        email_address: user@example.com
                        country: US
                        phone_number: +14025671234
                        url: https://example.com
                        version: 1
                      assignee: usr_1SUuwqBdK75GKi
                      status: cleared
                      client_user_id: your-db-id-3b24110
                      audit_trail:
                        source: dashboard
                        dashboard_user_id: usr_1SUuwqBdK75GKi
                        timestamp: 2020-07-24T03:26:02Z
                    next_cursor: eyJkaXJlY3Rpb24iOiJuZXh0Iiwib2Zmc2V0IjoiMTU5NDM
                    request_id: saKrIBuEB9qJZng
              schema:
                $ref: '#/components/schemas/PaginatedEntityWatchlistScreeningList'
          description: OK
      summary: List history for entity watchlist screenings
      tags:
      - plaid
  /watchlist_screening/entity/hit/list:
    post:
      description: List all hits for the entity watchlist screening.
      externalDocs:
        url: /api/products/monitor/#watchlist_screeningentityhitlist
      operationId: watchlistScreeningEntityHitsList
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListWatchlistScreeningEntityHitRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    entity_watchlist_screening_hits:
                    - id: enthit_52xR9LKo77r1Np
                      review_status: pending_review
                      first_active: 2020-07-24T03:26:02Z
                      inactive_since: 2020-07-24T03:26:02Z
                      historical_since: 2020-07-24T03:26:02Z
                      list_code: EU_CON
                      plaid_uid: uid_3NggckTimGSJHS
                      source_uid: 26192ABC
                      analysis:
                        documents: match
                        email_addresses: match
                        locations: match
                        names: match
                        phone_numbers: match
                        urls: match
                        search_terms_version: 1
                      data:
                        documents:
                        - analysis:
                            summary: match
                          data:
                            type: swift
                            number: C31195855
                        email_addresses:
                        - analysis:
                            summary: match
                          data:
                            email_address: user@example.com
                        locations:
                        - analysis:
                            summary: match
                          data:
                            full: Florida, US
                            country: US
                        names:
                        - analysis:
                            summary: match
                          data:
                            full: Al Qaida
                            is_primary: false
                            weak_alias_determination: none
                        phone_numbers:
                        - analysis:
                            summary: match
                          data:
                            type: phone
                            phone_number: +14025671234
                        urls:
                        - analysis:
                            summary: match
                          data:
                            url: https://example.com
                    next_cursor: eyJkaXJlY3Rpb24iOiJuZXh0Iiwib2Zmc2V0IjoiMTU5NDM
                    request_id: saKrIBuEB9qJZng
              schema:
                $ref: '#/components/schemas/PaginatedEntityWatchlistScreeningHitList'
          description: OK
      summary: List hits for entity watchlist screenings
      tags:
      - plaid
  /watchlist_screening/entity/list:
    post:
      description: List all entity screenings.
      externalDocs:
        url: /api/products/monitor/#watchlist_screeningentitylist
      operationId: watchlistScreeningEntityList
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListEntityWatchlistScreeningRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    entity_watchlist_screenings:
                    - id: entscr_52xR9LKo77r1Np
                      search_terms:
                        entity_watchlist_program_id: entprg_2eRPsDnL66rZ7H
                        legal_name: Al-Qaida
                        document_number: C31195855
                        email_address: user@example.com
                        country: US
                        phone_number: +14025671234
                        url: https://example.com
                        version: 1
                      assignee: usr_1SUuwqBdK75GKi
                      status: cleared
                      client_user_id: your-db-id-3b24110
                      audit_trail:
                        source: dashboard
                        dashboard_user_id: usr_1SUuwqBdK75GKi
                        timestamp: 2020-07-24T03:26:02Z
                    next_cursor: eyJkaXJlY3Rpb24iOiJuZXh0Iiwib2Zmc2V0IjoiMTU5NDM
                    request_id: saKrIBuEB9qJZng
              schema:
                $ref: '#/components/schemas/PaginatedEntityWatchlistScreeningList'
          description: OK
      summary: List entity watchlist screenings
      tags:
      - plaid
  /watchlist_screening/entity/program/get:
    post:
      description: Get an entity watchlist screening program
      externalDocs:
        url: /api/products/monitor/#watchlist_screeningentityprogramget
      operationId: watchlistScreeningEntityProgramGet
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetWatchlistScreeningEntityProgramRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    id: entprg_2eRPsDnL66rZ7H
                    created_at: 2020-07-24T03:26:02Z
                    is_rescanning_enabled: true
                    lists_enabled:
                    - EU_CON
                    name: Sample Program
                    name_sensitivity: balanced
                    audit_trail:
                      source: dashboard
                      dashboard_user_id: usr_1SUuwqBdK75GKi
                      timestamp: 2020-07-24T03:26:02Z
                    is_archived: false
              schema:
                $ref: '#/components/schemas/EntityWatchlistProgram'
          description: OK
      summary: Get entity watchlist screening program
      tags:
      - plaid
[...]
